#%RAML 0.8
title: ePaisa Analytics App
version: 2.0
baseUri: http://nine.epaisa.com
securitySchemes:
  - customSecurityScheme:
      type:
        x-custome
      description: This <i>Token</i> is generated by login call and is working for one houre.
/reports/items:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {"fromDate":"12-12-2016"}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Items": {
                    "customItems": [
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 11.25
                      },
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 64.405
                      },
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 220
                      },
                      {
                        "id": "",
                        "name": "Item 2",
                        "quantity": 1,
                        "sales": 5.88
                      }
                    ],
                    "products": [
                      {
                        "id": "57cead0bcfcdbc4ff8488e3c",
                        "name": "bshsj",
                        "quantity": 1,
                        "sales": 2180
                      },
                      {
                        "id": "57dbdbbacfcdbc78050d974d",
                        "name": "burger",
                        "quantity": 1,
                        "sales": 300
                      },
                      {
                        "id": "57d01b8dcfcdbc3f4d779288",
                        "name": "kids wear",
                        "quantity": 3,
                        "sales": 3000
                      }
                    ]
                  }
                }
              }
/reports/categories:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Categories": {
                    "Food": {
                      "quantity": 1,
                      "sales": 580.99
                    },
                    "Uncategorized": {
                      "quantity": 3,
                      "sales": 3000
                    },
                    "Mensware": {
                      "quantity": 3,
                      "sales": 3000
                    }
                  }
                }
              }
/reports/summary:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {"fromDate":"12-12-2016"}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "February 13, 2017, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "hours": {
                            "12 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "1 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "3 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "4 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "5 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "6 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "7 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "8 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "9 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "10 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "11 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "12 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "1 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "3 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "4 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "5 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "6 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "7 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "8 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "9 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "10 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "11 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            }
                        }
                    }
                }
              }
              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "January 13, 2017, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "days": {
                            "13-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "14-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "15-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "16-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "17-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "18-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "19-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "20-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "21-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "22-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "23-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "24-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "25-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "26-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "27-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "28-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "29-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "30-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "31-01-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "01-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "02-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "03-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "04-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "05-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "06-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "07-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "08-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "09-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "10-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "11-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "12-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "13-02-2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            }
                        }
                    }
                }
              }
              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "February 9, 2017, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "days": {
                            "Thursday": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "Friday": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "Saturday": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "Sunday": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "Monday": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            }
                        }
                    }
                }
              }
              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "January 9, 2017, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "weeks": {
                            "2017-02": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "9th Jan",
                                "end": "14th Jan"
                            },
                            "2017-03": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "15th Jan",
                                "end": "21st Jan"
                            },
                            "2017-04": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "22nd Jan",
                                "end": "28th Jan"
                            },
                            "2017-05": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "29th Jan",
                                "end": "4th Feb"
                            },
                            "2017-06": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "5th Feb",
                                "end": "11th Feb"
                            },
                            "2017-07": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0,
                                "start": "12th Feb",
                                "end": "13th Feb"
                            }
                        }
                    }
                }
              }
              {
                  "success": 1,
                  "response": {
                      "Summary": {
                          "fromDate": "August 9, 2016, 12:00 am",
                          "toDate": "February 13, 2017, 11:59 pm",
                          "sales": 0,
                          "numberOfSales": 0,
                          "averageSale": 0,
                          "gross": 0,
                          "months": {
                              "Aug 2016": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Sep 2016": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Oct 2016": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Nov 2016": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Dec 2016": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Jan 2017": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              },
                              "Feb 2017": {
                                  "numberOfSales": 0,
                                  "averageSale": 0,
                                  "sales": 0,
                                  "gross": 0
                              }
                          }
                      }
                  }
                }

              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "February 9, 2015, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "years": {
                            "2015": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2016": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2017": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            }
                        }
                    }
                }
              }
/reports/compare:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>first</i></b> - an object contain fromDate and toDate one side of comparison.</p>
            <p><b><i>second</i></b> - an object contain fromDate and toDate the other side of comparison.</p>
            <p><b><i>fromDate</i></b> - start date of comparison date range.</p>
            <p><b><i>toDate</i></b> - end date of comparison date range.</p>
    body:
      application/json:
        example: |
          {
              "first": {
                  "fromDate": "01-02-2017",
                  "toDate": "28-02-2017"
              },
              "second": {
                  "fromDate": "01-03-2017",
                  "toDate": "31-03-2017"
              }
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                  "success": 1,
                  "response": {
                      "first": {
                          "fromDate": "February 1, 2017, 12:00 am",
                          "toDate": "February 28, 2017, 11:59 pm",
                          "sales": 579980.08,
                          "numberOfSales": 38,
                          "averageSale": 15287.85,
                          "gross": 580938.33,
                          "netSales": 579777.18,
                          "refund": 0,
                          "tax": 203.638,
                          "discount": 1161.15,
                          "total": 579980.82
                      },
                      "second": {
                          "fromDate": "March 1, 2017, 12:00 am",
                          "toDate": "March 31, 2017, 11:59 pm",
                          "sales": 23533.7,
                          "numberOfSales": 70,
                          "averageSale": 409.53,
                          "gross": 28667.23,
                          "netSales": 23982.57,
                          "refund": 0,
                          "tax": 1039.0503626104,
                          "discount": 4684.66,
                          "total": 25021.62
                      }
                  }
              }
