#%RAML 0.8
title: ePaisa
version: 2.0
baseUri: http://nine.epaisa.com
securitySchemes:
  - customSecurityScheme:
      type:
        x-custome
      description: This <i>Token</i> is generated by login call and is working for one hours.
/masterdata/plans:
  description: Plan endpoit provide you whole the functionality you need to creat differnet plans.
  get:
    description: To fetch a specific plan or a list of plans you can use this endpoint. all the parameters are optional by setting <b>planId</b> the other parameters will be ignored. results are always an array of plan object(s) even if you send your request with <b>planId</b>. to fetch a list of plans you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible plans will returned. 
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>planId</i></b> - planId for specific plan. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "planId": 1,
          },
          |
          {
            "updated_at": 1467177000,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "planId": 1,
                    "planName": "Free",
                    "planDescription": "Access to some resticted features and functionality.",
                    "planPrice": "0.00",
                    "planSetupFee": "0.00",
                    "planDuration": 1,
                    "planDurationPeriod": "Month",
                    "updated_at": 1467454842,
                    "features": [
                      {
                        "featureId": 1,
                        "featureName": "NumberOfProducts",
                        "featureType": "Integer",
                        "featureValue": "100",
                        "updated_at": 0
                      },
                      {
                        "featureId": 2,
                        "featureName": "NumberOfMarketplace",
                        "featureType": "Integer",
                        "featureValue": "1",
                        "updated_at": 0
                      }
                    ]
                  }
                ]
              }
              |
               {
                  "success": 1,
                  "response": [
                    {
                      "planId": 1,
                      "planName": "Free",
                      "planDescription": "Access to some resticted features and functionality.",
                      "planPrice": "0.00",
                      "planSetupFee": "0.00",
                      "planDuration": 1,
                      "planDurationPeriod": "Month",
                      "updated_at": 1467454842,
                      "features": [
                        {
                          "featureId": 1,
                          "featureName": "NumberOfProducts",
                          "featureType": "Integer",
                          "featureValue": "100",
                          "updated_at": 0
                        },
                        {
                          "featureId": 2,
                          "featureName": "NumberOfMarketplace",
                          "featureType": "Integer",
                          "featureValue": "1",
                          "updated_at": 0
                        }
                      ]
                    },
                    {
                      "planId": 2,
                      "planName": "Shuruwat",
                      "planDescription": null,
                      "planPrice": "30.00",
                      "planSetupFee": "0.00",
                      "planDuration": 1,
                      "planDurationPeriod": "Month",
                      "updated_at": 1467454842,
                      "features": [
                        {
                          "featureId": 1,
                          "featureName": "NumberOfProducts",
                          "featureType": "Integer",
                          "featureValue": "200",
                          "updated_at": 0
                        },
                        {
                          "featureId": 2,
                          "featureName": "NumberOfMarketplace",
                          "featureType": "Integer",
                          "featureValue": "1",
                          "updated_at": 0
                        }
                      ]
                    },
                    {
                      "planId": 3,
                      "planName": "Nirmaan",
                      "planDescription": null,
                      "planPrice": "40.00",
                      "planSetupFee": "0.00",
                      "planDuration": 1,
                      "planDurationPeriod": "Month",
                      "updated_at": 1467454842
                    },
                    {
                      "planId": 4,
                      "planName": "Vistaar",
                      "planDescription": null,
                      "planPrice": "50.00",
                      "planSetupFee": "0.00",
                      "planDuration": 1,
                      "planDurationPeriod": "Month",
                      "updated_at": 1467454842
                    },
                    {
                      "planId": 5,
                      "planName": "Gold Plan",
                      "planDescription": "Full access to all features and functionality.",
                      "planPrice": "120.55",
                      "planSetupFee": "0.00",
                      "planDuration": 1,
                      "planDurationPeriod": "Month",
                      "updated_at": 1468818382,
                      "features": [
                        {
                          "featureId": 1,
                          "featureName": "NumberOfProducts",
                          "featureType": "Integer",
                          "featureValue": "300",
                          "updated_at": 1468820101
                        },
                        {
                          "featureId": 2,
                          "featureName": "NumberOfMarketplace",
                          "featureType": "Integer",
                          "featureValue": "5",
                          "updated_at": 1468820111
                        }
                      ]
                    }
                  ]
                }
  post:
    description: To creat a new plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>planName</b> - String of plan name.</p>
          <p><b><i>planDescription</i></b> - String a short description about plan. <u>Optional</u></p>
          <p><b>planPrice</b> - plan price.</p>
          <p><b>planSetupFee</b> - plan setup fee.</p>
          <p><b>planDuration</b> - plan duration is an integer.</p>
          <p><b>planDurationPeriod</b> - plan duration value is one of the <i>Day</i>, <i>Month</i> and <i>Year</i> periods.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planName": "Gold",
            "planDescription": "Full access to all features and functionality.",
            "planPrice": 100.00,
            "planSetupFee": 1000.00,
            "planDuration": 1,
            "planDurationPeriod": "Month"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "100.00",
                  "planSetupFee": "1000.00",
                  "planDuration": 1,
                  "planDurationPeriod": "Month",
                  "updated_at": 1468818382,
                }
              }       
  put:
    description: To update a plan
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>planId</b> - integer of plan id.</p>
          <p><b><i>planName</i></b> - String of plan name.</p>
          <p><b><i>planDescription</i></b> - String a short description about plan. <u>Optional</u></p>
          <p><b><i>planPrice</i></b> - plan price.</p>
          <p><b><i>planSetupFee</i></b> - plan setup fee.</p>
          <p><b><i>planDuration</i></b> - plan duration is an integer.</p>
          <p><b><i>planDurationPeriod</i></b> - plan duration value is one of the <i>Day</i>, <i>Month</i> and <i>Year</i> periods.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 5,
            "planPrice": 120.55
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "120.55",
                  "planSetupFee": "1000.00",
                  "planDuration": 1,
                  "planDurationPeriod": "Month",
                  "updated_at": 1468818382,
                  "features": [
                    {
                      "featureId": 1,
                      "featureName": "NumberOfProducts",
                      "featureType": "Integer",
                      "featureValue": "300",
                      "updated_at": 1468820101
                    },
                    {
                      "featureId": 2,
                      "featureName": "NumberOfMarketplace",
                      "featureType": "Integer",
                      "featureValue": "5",
                      "updated_at": 1468820111
                    }
                  ]
                }
              }
  delete:
    description: To delete a plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>planId</b> - String of plan id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 12
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/masterdata/features:
  get:
    description: To fetch a specific feature or a list of features you can use this endpoint. all the parameters are optional by setting <b>featureId</b> the other parameters will be ignored. results are always an array of feature object(s) even if you send your request with <b>featureId</b>. to fetch a list of features you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible features will returned. 
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>featureId</i></b> - featureId for specific plan. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "featureId": 45,
          } 
          |
          {
            "updated_at": 1468062355,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "featureId": 1,
                    "featureName": "NumberOfProducts",
                    "updated_at": 1468062355
                  },
                  {
                    "featureId": 2,
                    "featureName": "NumberOfMarketplace",
                    "updated_at": 1468062355
                  }
                ]
              }
  post:
    description: To creat a new feature
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>featureName</b> - String of feature name.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "featureName":"Number of Products"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "featureName": "Operators",
                  "createdUserId": 463,
                  "updatedUserId": 463,
                  "created_at": 1468818774,
                  "updated_at": 1468818774,
                  "featureId": 3
                }
              }
  put:
    description: To update a product
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>featureId</b> - Integer of feature id.</p>
          <p><b>featureName</b> - String a feature name.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "featureId": 3,
            "featureName":"DefineOperators"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "featureId": 3,
                  "featureName": "DefineOperators",
                  "createdUserId": 463,
                  "updatedUserId": 463,
                  "created_at": 1468818774,
                  "updated_at": 1468818948
                }
              }
  delete:
    description: To delete a product
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>featureId</b> - Integer of feature id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "featureId": 3
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/masterdata/plans/features:
  post:
    description: To assign a feature to a plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>planId</b> - Integer of plan id.</p>
          <p><b>featureId</b> - Integer of feature id.</p>
          <p><b>featureValue</b> - corresponding value of the feature for the plan.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 1,
            "featureId": 1,
            "featureValue": 100
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "120.55",
                  "features": [
                    {
                      "featureId": 1,
                      "featureName": "NumberOfProducts",
                      "featureValue": "300"
                    },
                    {
                      "featureId": 2,
                      "featureName": "NumberOfMarketplace",
                      "featureValue": "5"
                    },
                    {
                      "featureId": 3,
                      "featureName": "DefineOperators",
                      "featureValue": "true"
                    }
                  ]
                }
              }
  delete:
    description: To remove a feature from a plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>planId</b> - Integer of plan id.</p>
          <p><b>featureId</b> - Integer of feature id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 1,
            "featureId": 1
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "120.55",
                  "features": [
                    {
                      "featureId": 2,
                      "featureName": "NumberOfMarketplace",
                      "featureValue": "5"
                    },
                    {
                      "featureId": 3,
                      "featureName": "DefineOperators",
                      "featureValue": "true"
                    }
                  ]
                }
              }
/masterdata/addon:
  get:
    description: To fetch a specific addon or a list of addons you can use this endpoint. all the parameters are optional by setting <b>addonId</b> the other parameters will be ignored. results are always an array of addon object(s) even if you send your request with <b>addonId</b>. to fetch a list of addons you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible addons will returned. 
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>addonId</i></b> - addonId for specific addon. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "addonId": 45,
          } 
          |
          {
            "updated_at": 1468062355,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "addonId": 1,
                    "addonName": "Barcode Reader",
                    "updated_at": 1468907815
                  },
                  {
                    "addonId": 2,
                    "addonName": "Printer",
                    "updated_at": 1468907961
                  },
                  {
                    "addonId": 3,
                    "addonName": "POS",
                    "updated_at": 1468907973
                  }
                ]
              }
  post:
    description: To creat a new addon
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>addonName</b> - String of addon name.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "addonName":"Barcode Reader"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "addonName": "Barcode Reader",
                  "createdUserId": 463,
                  "updatedUserId": 463,
                  "created_at": 1468907815,
                  "updated_at": 1468907815,
                  "addonId": 1
                }
              }
  put:
    description: To update an addon
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>addonId</b> - Integer of addon id.</p>
          <p><b>addonName</b> - String a addon name.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "addonId": 3,
            "addonName":"POS CreaditCard"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "addonId": 3,
                  "addonName": "POS CreditCard",
                  "createdUserId": 463,
                  "updatedUserId": 463,
                  "created_at": 1468907973,
                  "updated_at": 1468908098
                }
              }
  delete:
    description: To delete an addon
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>addonId</b> - Integer of addon id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "addonId": 3
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/masterdata/plans/addons:
  post:
    description: To assign a feature to a plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>planId</b> - Integer of plan id.</p>
          <p><b>addonId</b> - Integer of addon id.</p>
          <p><b>addonPrice</b> - corresponding price for the addon with this plan.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 1,
            "addonId": 1,
            "addonPrice": 100.00
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "120.55",
                  "features": [
                    {
                      "featureId": 1,
                      "featureName": "NumberOfProducts",
                      "featureValue": "300"
                    },
                    {
                      "featureId": 2,
                      "featureName": "NumberOfMarketplace",
                      "featureValue": "5"
                    },
                    {
                      "featureId": 3,
                      "featureName": "DefineOperators",
                      "featureValue": "true"
                    }
                  ]
                }
              }
  delete:
    description: To remove a feature from a plan
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>planId</b> - Integer of plan id.</p>
          <p><b>featureId</b> - Integer of feature id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "planId": 1,
            "featureId": 1
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "planId": 5,
                  "planName": "Gold Plan",
                  "planDescription": "Full access to all features and functionality.",
                  "planPrice": "120.55",
                  "features": [
                    {
                      "featureId": 2,
                      "featureName": "NumberOfMarketplace",
                      "featureValue": "5"
                    },
                    {
                      "featureId": 3,
                      "featureName": "DefineOperators",
                      "featureValue": "true"
                    }
                  ]
                }
              }
/masterdata/industries:
  get:
    description: for fetching the industry list
    queryParameters:
       param1:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>fromDate</b> - unix timestamp of start date to sync only changed items.</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Industry":[{"industryId":"1","industryName":"Beauty and personal care","status":"0"},{"industryId":"2","industryName":"Casual use","status":"0"},{"industryId":"3","industryName":"Charities, Education and membership","status":"0"},{"industryId":"4","industryName":"Food and Drinks","status":"0"},{"industryId":"5","industryName":"Health Care and Fitness","status":"0"},{"industryCategoryId":"331","industryId":"0","industryCategoryName":"industryCategoryName","categoryStatus":"0"}]}}       
/masterdata/categories:
  get:
    description: for fetching the industry list
    queryParameters:
       param1:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>industryId</b> - all industry belong to the .</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                "Industry": [
                  {
                    "industryId": "11",
                    "industryName": "Beauty salon\r\n",
                    "industryLevel": "1"
                  },
                  {
                    "industryId": "12",
                    "industryName": "Hair salon, barbershop",
                    "industryLevel": "1"
                  }
                ]
              }  
/acquirerbank:
  get:
    description: for fetching the acquirerbank list
    queryParameters:
       param1:
        required: true
        type: string
        displayName: AuthKey
        description: Authentication key to validate a user.
       param2:
        required: false
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>acquirerBankId</b> - acquirer bank id an intiger</p>
          <p><b>acquirerBankName</b> - acquirer bank name</p>
          <p><b>limit</b> - default value is 20</p>
          <p><b>offset</b> - defalt value is 0</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Acquirerbank": [
                    {
                      "acquirerBankId": "1",
                      "acquirerBankName": "Corporation Bank"
                    },
                    {
                      "acquirerBankId": "2",
                      "acquirerBankName": "NICB"
                    }
                  ]
                }
              }
  post:
    description: for creating the acquirerbank
    queryParameters:
       param1:
        required: true
        type: string
        displayName: AuthKey
        description: Authentication key to validate a user.
       param2:
        required: false
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>acquirerBankName</b> - acquirer bank name</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success":1,
                "response":{
                  "acquirerBankId":3,
                  "acquirerBankName":"Test Name",
                  "createdUserId":16,
                  "created_at":1465992458,
                  "updatedUserId":16,
                  "updated_at":1465992696,
                  "status":1
                }
              }
  put:
    description: for creating the acquirerbank
    queryParameters:
       param1:
        required: true
        type: string
        displayName: AuthKey
        description: Authentication key to validate a user.
       param2:
        required: false
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>acquirerBankId</b> - acquirer bank id an intiger</p>
          <p><b>acquirerBankName</b> - acquirer bank name</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success":1,
                "response":{
                  "acquirerBankId":3,
                  "acquirerBankName":"Test Name 2",
                  "createdUserId":16,
                  "created_at":1465992458,
                  "updatedUserId":16,
                  "updated_at":1465992696,
                  "status":1
                }
              }
  delete:
    description: for creating the acquirerbank
    queryParameters:
       param1:
        required: true
        type: string
        displayName: AuthKey
        description: Authentication key to validate a user.
       param2:
        required: false
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>acquirerBankId</b> - acquirer bank id an intiger</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Acquirerbank": [
                    {
                      "acquirerBankId": "1",
                      "acquirerBankName": "Corporation Bank"
                    },
                    {
                      "acquirerBankId": "2",
                      "acquirerBankName": "NICB"
                    }
                  ]
                }
              }
/masterdata/transactiontypes:
  post:
    description: for fetching the transaction type list
    queryParameters:
       param1:
        required: true
        displayName: Token
        description: generated token value
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"TransactionTypes":{"1":{"transactionTypeId":"1","name":"Cash","status":"0"},"2":{"transactionTypeId":"2","name":"Wallet","status":"0"}}}}
/country/index:
  post:
    description: for fetching the Country list
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Countries": [
                    {
                      "countryId": 1,
                      "countryName": "Unit State",
                      "countryDialCode": "",
                      "countryDomainExtension": "",
                      "countryAlpha2Code": "",
                      "countryAlpha3Code": "",
                      "countryNumericCode": 0,
                      "countryISOCode": "",
                      "createdUserId": 0,
                      "creationDate": 0,
                      "updatedUserId": 0,
                      "updationDate": 0,
                      "status": 0
                    }
                  ]
                }
              }
/country:
  get:
    description: for fetching the Country list
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>countryAlpha2Code</i></b> - like IN </p>
    body:
      application/json:
        example: |
          {
            "countryAlpha2Code": "IN"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "countryId": 103,
                  "countryName": "India",
                  "countryDialCode": "91",
                  "countryDomainExtension": "",
                  "countryAlpha2Code": "IN",
                  "countryAlpha3Code": "IND",
                  "countryNumericCode": 356,
                  "countryISOCode": "",
                  "createdUserId": 1,
                  "created_at": 0,
                  "updatedUserId": 1,
                  "updated_at": 0,
                  "status": 1,
                  "currencies": [
                    {
                      "countryCurrencyId": 1,
                      "countryId": 103,
                      "currencyId": 121,
                      "countryCurrencyExchangeRate": "0.00",
                      "createdUserId": 0,
                      "created_at": 0,
                      "updatedUserId": 0,
                      "updated_at": 0,
                      "status": 0,
                      "currencyName": "Rupee",
                      "currencyCode": "SCR",
                      "currencyNumericCode": ""
                    },
                    {
                      "countryCurrencyId": 2,
                      "countryId": 103,
                      "currencyId": 5,
                      "countryCurrencyExchangeRate": "68.73",
                      "createdUserId": 0,
                      "created_at": 0,
                      "updatedUserId": 0,
                      "updated_at": 0,
                      "status": 0,
                      "currencyName": "USD",
                      "currencyCode": "USD",
                      "currencyNumericCode": ""
                    }
                  ]
                }
              }
/state/index:
  post:
    description: for fetching the State list on the basis of country ID.
    queryParameters:
      param1:
        required: true
        type: integer
        displayName: CountryId
        description: Country code for which the states required. Either id or 2-digit ISO country code.
      param2:
        required: false
        type: integer
        displayName: Limit
        description: To limit the number of records.
      param3:
        required: false
        type: integer
        displayName: Offset
        description: To define the offset.
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"States":[{"stateId":1,"countryId":101,"stateCode":"131","stateName":"Uttar Pradesh","createdUserId":1,"created_at":1,"updatedUserId":1,"updated_at":1,"status":1}]}} 
/city/index:
  post:
    description: for fetching the State list on the basis of country ID.
    queryParameters:
      param1:
        required: true
        type: integer
        displayName: State Id
        description: State code for which the cities are required.
      param2:
        required: false
        type: integer
        displayName: Limit
        description: To limit the number of records.
      param3:
        required: false
        type: integer
        displayName: Offset
        description: To define the offset.
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Cities":[{"cityId":1,"stateId":1,"cityName":"Allahabad","cityCode":"70","createdUserId":1,"created_at":1,"updatedUserId":1,"updated_at":1,"status":1}]}}
/bank:
  get:
    description: get bank details using IFSC CODE.
    queryParameters:
      param1:
        required: true
        type: string
        displayName: AuthKey
        description: Authentication key to validate a user.
      param2:
        required: true
        type: string
        description: json string {"bankIFSC":"ABHY0065073"}
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Bank":[{"bankId":383,"bankName":"ABHYUDAYA CO OP BANK LTD","bankLogo":"","bankIFSC":"ABHY0065073","bankMICR":"400065073","bankAddress":"SHOP NO.1, MAYFIAR SYMPHONY SPRING, PARKSITE, GODREJ, HIRANANDANI LINK RD., VIKHROLI WEST, MUMBAI 400079","bankDistrict":"GREATER BOMBAY","bankState":"MAHARASHTRA","status":1}]}}  
                                     
               
  post:
    description: for creating a new bank.
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Authentication key to validate a user.
      param2:
        required: true
        type: integer
        displayName: CountryId
        description: Country code.  
      param3:
        required: true
        type: integer
        displayName: State Id
        description: Id of the state related to the country.
      param4:
        required: true
        type: integer
        displayName: CityId
        description: Id of the city related to the state.
      param5:
        required: true
        type: integer
        displayName: AreaId
        description: Id of the area related to the city.
      param6:
        required: true
        type: string
        displayName: BankName
        description: Id of the area related to the city.
      param7:
        required: true
        type: integer
        displayName: bankLogo
        description: Bank's logo url
      param8:
        required: true
        type: integer
        displayName: bankIFSC
        description: Bank IFSC Data
      param9:
        required: true
        type: string
        displayName: bankMICR
        description: Bank MICR Data
      param10:
        required: false
        type: string
        displayName: bankAddress
        description: Bank's Address
      param11:
        required: true
        type: string
        displayName: bankState
        description: State Name of the bank
      param12:
        required: false
        type: string
        displayName: bankDistrict
        description: District of the bank.       
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Bank":[{"bankId":1,"countryId":103,"stateId":1,"cityId":1,"areaId":1,"bankName":"HDFC","bankLogo":"","bankIFSC":"HDFC00001899","bankMICR":"1345165","bankAddress":"Civil Lines","bankDistrict":"Allahabad","bankState":"UttarPradesh","createdUserId":16,"created_at":1457688193,"updatedUserId":16,"updated_at":1457688193,"status":1}]}} 
  put:
    description: for updating bank.
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Authentication key to validate a user.
      param2:
        required: true
        type: integer
        displayName: BankId
        description: Bank Id to update    
      param3:
        required: true
        type: integer
        displayName: CountryId
        description: Country code.  
      param4:
        required: false
        type: integer
        displayName: State Id
        description: Id of the state related to the country.
      param5:
        required: false
        type: integer
        displayName: CityId
        description: Id of the city related to the state.
      param6:
        required: false
        type: integer
        displayName: areaId
        description: Id of the area related to the city.
      param7:
        required: true
        type: string
        displayName: BankName
        description: Name of the bank
      param8:
        required: false
        type: string
        displayName: bankLogo
        description: Bank logo url
      param9:
        required: false
        type: string
        displayName: bankIFSC
        description: Bank IFSC data 
      param10:
        required: false
        type: string
        displayName: bankMICR
        description: Bank MICR data
      param11:
        required: false
        type: string
        displayName: bankAddress
        description: Bank Address
      param12:
        required: false
        type: string
        displayName: bankState
        description: State Name of the Bank
      param13:
        required: false
        type: string
        displayName: bankDistrict
        description: District of the bank.       
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Bank":[{"bankId":1,"countryId":103,"stateId":1,"cityId":1,"areaId":1,"bankName":"HDFC","bankLogo":"","bankIFSC":"HDFC00001899","bankMICR":"1345165","bankAddress":"Civil Lines","bankDistrict":"Allahabad","bankState":"UttarPradesh","createdUserId":16,"created_at":1457688193,"updatedUserId":16,"updated_at":1457688193,"status":1}]}}  
  delete:
      description: for a particular bank.
      queryParameters:
        param1:
          required: true
          type: string
          displayName: Token
          description: Authentication key to validate a user.
        param2:
          required: true
          type: string
          displayName: BankId
          description: Id of the bank
      responses:
        200:
          body:
            application/json:
              example: |
                {"success":1,"response":{"Bank":[{"bankId":1,"countryId":103,"stateId":1,"cityId":1,"areaId":1,"bankName":"HDFC","bankLogo":"","bankIFSC":"HDFC00001899","bankMICR":"1345165","bankAddress":"Civil Lines","bankDistrict":"Allahabad","bankState":"UttarPradesh","createdUserId":16,"created_at":1457688193,"updatedUserId":16,"updated_at":1457688193,"status":1}]}}   
/currency:
  post:
    description: currency list call.
                                  
/businesstypes:
  post:
    description: to fetch business types
    queryParameters:
      param1:
        required: false
        type: string
        displayName: IMEI
        description: Imei of the caller     
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"Bank":[{"bankId":1,"countryId":103,"stateId":1,"cityId":1,"areaId":1,"bankName":"HDFC","bankLogo":"","bankIFSC":"HDFC00001899","bankMICR":"1345165","bankAddress":"Civil Lines","bankDistrict":"Allahabad","bankState":"UttarPradesh","createdUserId":16,"created_at":1457688193,"updatedUserId":16,"updated_at":1457688193,"status":1}]}}  
              
              
/options:
  post:
    description: for fetching options list
    queryParameters:
       param1:
        required: true
        displayName: Token
        description: Token generated by login call
       param2:
        required: false
        displayName: json string
        description: json array of criterias. Possible keys are below
                      <p><b>paramname</b> - to fetch only specific options.</p>
    responses:
      200:
        body:
          application/json:
            example: |
              {"success":1,"response":{"options":[{"id":2,"paramname":"yearlyRevenue","paramvalue":0,"paramDisplayValue":"0 - 100,000"},{"id":3,"paramname":"yearlyRevenue","paramvalue":1,"paramDisplayValue":"100,000 - 200,000"},{"id":4,"paramname":"yearlyRevenue","paramvalue":2,"paramDisplayValue":"200,000 - 300,000"},{"id":5,"paramname":"yearlyRevenue","paramvalue":3,"paramDisplayValue":"300,000 - 400,000"},{"id":6,"paramname":"yearlyRevenue","paramvalue":4,"paramDisplayValue":"400,000 - 500,000"},{"id":7,"paramname":"yearlyRevenue","paramvalue":5,"paramDisplayValue":"500,000 - 600,000"},{"id":8,"paramname":"yearlyRevenue","paramvalue":6,"paramDisplayValue":"600,000 - 700,000"},{"id":9,"paramname":"yearlyRevenue","paramvalue":7,"paramDisplayValue":"700,000 - 800,000"},{"id":10,"paramname":"yearlyRevenue","paramvalue":8,"paramDisplayValue":"800,000 - 900,000"},{"id":11,"paramname":"yearlyRevenue","paramvalue":9,"paramDisplayValue":"900,000 - 1,000,000"},{"id":12,"paramname":"yearlyRevenue","paramvalue":10,"paramDisplayValue":">1,000,000"}]}}           
                                  