#%RAML 0.8
title: ePaisa
version: 2.0
baseUri: http://nine.epaisa.com
securitySchemes:
  - customSecurityScheme:
      type:
        x-custome
      description: This <i>Token</i> is generated by login call and is working for one houre.
/merchant/catalog/products:
  description: Product endpoit provide you whole the functionality you need to fetch catalog information maintained by epaisa.
  get:
    description: To fetch a list of products belong to a category or industry you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible products will returned.
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>catalogCategoryId</i></b> - catalogCategoryId fetch all products for specific catalogCategory. <u>Optional</u></p>
            <p><b><i>industryId</i></b> - industryId fetch all products for specific industry. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "catalogCategoryId": 123,
            "updated_at": 1468062355,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {

                  }
                ]
              }
/merchant/catalog/service:
  description: Service endpoit provide you whole the functionality you need to fetch catalog information maintained by epaisa.
  get:
    description: To fetch a list of services belong to a category or industry you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible products will returned.
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>catalogCategoryId</i></b> - catalogCategoryId fetch all products for specific catalogCategory. <u>Optional</u></p>
            <p><b><i>industryId</i></b> - industryId fetch all products for specific industry. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "catalogCategoryId": 123,
            "updated_at": 1468062355,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {

                  }
                ]
              }
/merchant/product:
  description: Product endpoit provide you whole the functionality you need to creat differnet type of products we have exact same endpoint for services too, you can find further information for them in the documentation.
  get:
    description: To fetch a specific product or a list of products you can use this endpoint. all the parameters are optional by setting <b>productId</b> the two other parameters will ignored. results are always an array of product object(s) even if you send your request with <b>productId</b>. to fetch a list of products you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible products will returned.
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>productId</i></b> - productId for specific product. <u>Optional</u></p>
            <p><b><i>storeLocationId</i></b> - storeLocationId for specific store. <u>Optional</u></p>
            <p><b><i>category</i></b> - category name for specific category. <u>Optional</u></p>
            <p><b><i>manufacturer</i></b> - manufacturer name for specific manufacturer. <u>Optional</u></p>
            <p><b><i>productName</i></b> - productName for specific product. <u>Optional</u></p>
            <p><b><i>distirbutor</i></b> - distirbutor name for specific distirbutor. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "productId": "576a98aed97fcecfe867ec4a",
            "updated_at": 1468062355,
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Products": [
                    {
                      "productDisplayName": "iPhone",
                      "storeLocationId": 424,
                      "categories": [
                        "cellphone",
                        "apple"
                      ],
                      "manufacturers": [
                        "APPLE"
                      ],
                      "distributors": [
                        "Ramin"
                      ],
                      "specifications": [
                        "CPU: 2.4G",
                        "Memory: 2G"
                      ],
                      "isAddon": false,
                      "attributes": {
                        "attribute1": {
                          "name": "Color",
                          "values": [
                            "White",
                            "Black",
                            "Silver"
                          ]
                        },
                        "attribute2": {
                          "name": "Storage",
                          "values": [
                            "32G",
                            "64G",
                            "128G"
                          ]
                        },
                        "attribute3": {
                          "name": ""
                        }
                      },
                      "taxes": [
                        {
                          "taxId": "57",
                          "taxDisplayName": "Governments",
                          "taxName": "governments",
                          "taxMode": "%",
                          "taxValue": "10.00",
                          "taxType": "Exclusive",
                          "taxScope": "Global",
                          "status": "1",
                          "taxRuleApplyFor": null
                        },
                        {
                          "taxId": "75",
                          "taxDisplayName": "custom_1",
                          "taxName": "custom_1",
                          "taxMode": "%",
                          "taxValue": "12.00",
                          "taxType": "Inclusive",
                          "taxScope": "Custom",
                          "status": "1",
                          "taxRuleApplyFor": null
                        }
                      ],
                      "merchantId": 472,
                      "updatedUserId": 459,
                      "createdUserId": 459,
                      "storeLocationCaption": "Headquarters",
                      "created_at": 1475914746,
                      "updated_at": 1476166935,
                      "productName": "headquarters_iphone",
                      "productId": "57f8abfad97fce2ce57d3fc2",
                      "storeLocation": "Headquarters",
                      "variants": [
                        {
                          "attribute1": "White",
                          "attribute2": "32G",
                          "sellingPrice": 10000,
                          "discount": "5",
                          "discountType": "%",
                          "inventory": 4988,
                          "threshold": 50,
                          "productId": "57f8abfad97fce2ce57d3fc2",
                          "merchantId": 472,
                          "createdUserId": 459,
                          "updatedUserId": 459,
                          "created_at": 1475914746,
                          "updated_at": 1476166936,
                          "variantId": "57f8abfad97fce2ce57d3fc3",
                          "name": "White_32G"
                        },
                        {
                          "attribute1": "Black",
                          "attribute2": "32G",
                          "sellingPrice": 50000,
                          "discountType": "%",
                          "inventory": 400,
                          "productId": "57f8abfad97fce2ce57d3fc2",
                          "merchantId": 472,
                          "createdUserId": 459,
                          "updatedUserId": 459,
                          "created_at": 1475914746,
                          "updated_at": 1476166936,
                          "name": "Black_32G",
                          "variantId": "57f8abfad97fce2ce57d3fc5"
                        },
                        {
                          "attribute1": "Silver",
                          "attribute2": "64G",
                          "sellingPrice": 5000,
                          "discountType": "%",
                          "inventory": 5000,
                          "productId": "57f8abfad97fce2ce57d3fc2",
                          "merchantId": 472,
                          "createdUserId": 459,
                          "updatedUserId": 459,
                          "created_at": 1475914746,
                          "updated_at": 1476166936,
                          "name": "Silver_64G",
                          "variantId": "57f8abfad97fce2ce57d3fc9"
                        },
                        {
                          "attribute1": "Silver",
                          "attribute2": "128G",
                          "sellingPrice": 7000,
                          "discountType": "%",
                          "inventory": 9,
                          "productId": "57f8abfad97fce2ce57d3fc2",
                          "merchantId": 472,
                          "createdUserId": 459,
                          "updatedUserId": 459,
                          "created_at": 1476164212,
                          "updated_at": 1476166936,
                          "name": "Silver_128G",
                          "variantId": "57fc7a74d97fce5bbe66a2d0"
                        }
                      ],
                      "parentCategories": [
                        {
                          "productCategoryId": "207",
                          "parentProductCategoryId": null,
                          "productCategoryName": "cellphone",
                          "status": "0",
                          "createdUserId": "459",
                          "updatedUserId": "0",
                          "created_at": "1471849392",
                          "updated_at": "1476095432",
                          "merchantId": "472",
                          "deleted_at": null
                        }
                      ],
                      "childCategories": [
                        {
                          "productCategoryId": "208",
                          "parentProductCategoryId": "207",
                          "productCategoryName": "apple",
                          "status": "0",
                          "createdUserId": "459",
                          "updatedUserId": "0",
                          "created_at": "1471849400",
                          "updated_at": "1476095477",
                          "merchantId": "472",
                          "deleted_at": null
                        }
                      ]
                    }
                  ],
                  "total": 1
                }
              }
  post:
    description: To creat a new product
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>storeLocationId</b> - Integer of a store this product is belong to.</p>
          <p><b>productName</b> - String of product name.</p>
          <p><b>productDescription</b> - String a short description about product.</p>
          <p><b>categories</b> - Array of strings which are category name or integers which are category id.</p>
          <p><b>manufacturers</b> - Array of strings which has vendor name.</p>
          <p><b>taxes</b> - Array of tax id.</p>
          <p><b>attributes</b> - Array of attributes.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with <b>sellingPrice</b>, <b>invantory</b> and <b>sku</b> are mandatory if the merchant set inventory enable in his/her setting, otherwise <b>sellingPrice</b> is the onlny mandatory field. other fields should be filled based on the attributes.</p>
          <p><b><i>files</i></b> - media file. <u>Optional</u></p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productDisplayName":"iPhone SE",
            "upc":"eadf23ewr42",
            "storeLocationId": 432,
            "productDescription":"iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
            "categories":["Electronic","Cellphone", 13, 15],
            "manufacturers":["Apple"],
            "attributes":{
                "attribute1":{
                  "name":"color",
                  "values":["RozeGold","Gold","Black"],
                },
                "attribute2":{
                  "name":"memory",
                  "values":["16G","64G","128G"],
                },
                "attribute3":{
                  "name":"series",
                  "values":["S","SE"],
                }
            },
            "taxes": [
              1, 2
            ],
            "variants": [
              {
                "name": "RozeGold_16G_S",
                "attribute1": "RozeGold",
                "attribute2": "16G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 299.99,
                "buyingPrice": 200.00,
                "mrp": 349.99,
                "discount": 10
              },
              {
                "name": "Gold_64G_S",
                "attribute1": "Gold",
                "attribute2": "64G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 349.99,
                "buyingPrice": 205.00,
                "mrp": 399.99,
                "discount": 10
              },
              {
                "name": "Black_128G_SE",
                "attribute1": "Black",
                "attribute2": "128G",
                "attribute3": "SE",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 329.99,
                "buyingPrice": 222.00,
                "mrp": 349.99,
                "discount": 10
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "5774fcdad97fce4da4513f31",
                    "productName": "headquarter_iphone_6s",
                    "productDisplayName": "iPhone 6S",
                    "upc":"eadf23ewr42",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes":{
                      "attribute1":{
                        "name":"color",
                        "values":["RozeGold","Gold","Black"],
                      },
                      "attribute2":{
                        "name":"memory",
                        "values":["16G","64G","128G"],
                      },
                      "attribute3":{
                        "name":"series",
                        "values":["S","SE"],
                      }
                    },
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1467284698,
                    "updated_at": 1468062355,
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "variants": [
                      {
                        "variantId": "5774fcdad97fce4da4513f32",
                        "attribute1": "RozeGold",
                        "attribute2": "16G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f33",
                        "attribute1": "Gold",
                        "attribute2": "64G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f34",
                        "attribute1": "Black",
                        "attribute2": "128G",
                        "attribute3": "SE",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      }
                    ]
                  }
                ]
              }
  put:
    description: To update a product
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>productName</b> - String of product name.</p>
          <p><b>productDescription</b> - String a short description about product.</p>
          <p><b>categories</b> - Array of strings which has category name.</p>
          <p><b>manufacturers</b> - Array of strings which has vendor name.</p>
          <p><b>attributes</b> - Array of name=>values.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with 'price', 'invantory' and 'sku' are mandatory other fields should be filled based on the attributes.</p>
          <p><b>deletedVariants</b> - Array of deleted variants id.</p>
          <p><b>files</b> - media file.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productId": "576a98aed97fcecfe867ec4a",
            "storeLocationId": 432,
            "productDisplayName": "iPhone 6S",
            "upc":"eadf23ewr42",
            "productDescription":"iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
            "categories":["Electronic","Cellphone"],
            "manufacturers":["Apple"],
            "attributes":{
              "attribute1":{
                "name":"color",
                "values":["RozeGold","Gold","Black"],
              },
              "attribute2":{
                "name":"memory",
                "values":["16G","64G","128G"],
              },
              "attribute3":{
                "name":"series",
                "values":["S","SE"],
              }
            },
            "deletedVariants":["576a98aed97fcecfe867678f", "576a98aed97fcecfe867thmj"],
            "variants": [
              {
                "variantId": "576a98aed97fcecfe867ec4a",
                "attribute1": "RozeGold",
                "attribute2": "16G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 299.99,
                "buyingPrice": 200.00,
                "mrp": 349.99,
                "discount": 10
              },
              {
                "variantId": "576a989jfe7fcecfe867ec4a",
                "attribute1": "Gold",
                "attribute2": "64G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 349.99,
                "buyingPrice": 205.00,
                "mrp": 399.99,
                "discount": 10
              },
              {
                "variantId": "576a98aed97fcecfe8fedfef",
                "attribute1": "Black",
                "attribute2": "128G",
                "attribute3": "SE",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 329.99,
                "buyingPrice": 222.00,
                "mrp": 349.99,
                "discount": 10
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "576a98aed97fcecfe867ec4a",
                    "productName": "headquarter_iphone_6s",
                    "productDisplayName": "iPhone 6S",
                    "upc":"eadf23ewr42",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes":{
                      "attribute1":{
                        "name":"color",
                        "values":["RozeGold","Gold","Black"],
                      },
                      "attribute2":{
                        "name":"memory",
                        "values":["16G","64G","128G"],
                      },
                      "attribute3":{
                        "name":"series",
                        "values":["S","SE"],
                      }
                    },
                    "variants": [
                      {
                        "variantId": "576a98aed97fcecfe867ec4a",
                        "attribute1": "RozeGold",
                        "attribute2": "16G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200.00,
                        "mrp": 349.99,
                        "discount": 10
                      },
                      {
                        "variantId": "576a989jfe7fcecfe867ec4a",
                        "attribute1": "Gold",
                        "attribute2": "64G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205.00,
                        "mrp": 399.99,
                        "discount": 10
                      },
                      {
                        "variantId": "576a98aed97fcecfe8fedfef",
                        "attribute1": "Black",
                        "attribute2": "128G",
                        "attribute3": "SE",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222.00,
                        "mrp": 349.99,
                        "discount": 10
                      }
                    ]
                  }
                ]
              }
  delete:
    description: To delete a product
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>productId</b> - String of product id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productId": "576a98aed97fcecfe867ec4a"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
/merchant/product/search:
  get:
    description: To fetch product information for autocompleting fields
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - optional. generated imei value of the client</p>
          <p><b>productName</b> - String of product name.</p>
          <p><b>categoryName</b> - String of category name.</p>
          <p><b>upc</b> - String of product upc code.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productName": "ipho"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/merchant/service:
  description: Service endpoit provide you whole the functionality you need to creat differnet type of services we have exact same endpoint for products too, you can find further information for them in the documentation.
  get:
    description: To fetch a specific service or a list of services you can use this endpoint. all the parameters are optional by setting <b>serviceId</b> the two other parameters will be ignored. results are always an array of service object(s) even if you send your request with <b>serviceId</b>. to fetch a list of products you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible services will be returned.
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: false
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>serviceId</i></b> - serviceId for specific service. <u>Optional</u></p>
            <p><b>storeLocationId</b> - Integer of a store this service is belong to.</p>
            <p><b><i>category</i></b> - Integer of a category or String of a category name.</p>
            <p><b><i>manufacturer</i></b> - Integer of a manufacturer or String of a manufacturer name.</p>
            <p><b><i>distributor</i></b> - Integer of a distributor or String of a distributor name.</p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a service update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "serviceId":"576a98aed97fcecfe867ec4a"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response":[
                  {
                    "serviceId": "576a98aed97fcecfe867ec4a",
                    "serviceName":"Baby Sitter",
                    "storeLocationId": 432,
                    "serviceDescription":"I have 10+ years of experience ages from newborn - 12 years old. I'm available overnight/24 hour+ time span newborn - 12 years old. My husband and I have recently moved to Henderson from San Diego and I am currently available weekdays starting at 5:00 p.m. and free anytime on the weekends. (Overnights are OK). Healthy cooking & light cleaning is available for extra charge. I love kid friendly crafts: painting, baking, gardening, etc.",
                    "categories":["Care"],
                    "attributes":{
                        "periode":["Yearly","Montly"],
                        "number":[1,3,6]
                    },
                    "attributes":{
                      "attribute1":{
                        "name":"periode",
                        "values":["Yearly","Montly"],
                      },
                      "attribute2":{
                        "name":"number",
                        "values":[1,3,6]
                      }
                    },
                    "categories":["Care"],
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1467284698,
                    "updated_at": 1468062355,
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "variants"=>[
                      {
                        "variantId": "5774fcdad97fce4da4513f34",
                        "attribute1": "Yearly",
                        "attribute2": 1,
                        "sellingPrice": 999.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f35",
                        "attribute1": "Yearly",
                        "attribute2": 2,
                        "sellingPrice": 1499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f36",
                        "attribute1": "Montly",
                        "attribute2": 1,
                        "sellingPrice": 499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      }
                    ]
                  }
                ]
              }
  post:
    description: To creat a new service
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>storeLocationId</b> - Integer of a store this service is belong to.</p>
          <p><b>serviceName</b> - String of service name.</p>
          <p><b>serviceDescription</b> - String a short description about service.</p>
          <p><b>categories</b> - Array of strings which has category name.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with 'price' is mandatory other fields should be filled based on the attributes.</p>
          <p><b>attributes</b> - Array of name=>values. periode and number is mandatory</p>
          <p><b>files</b> - media file.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "storeLocationId": 432,
            "serviceName":"Baby Sitter",
            "serviceDescription":"I have 10+ years of experience ages from newborn - 12 years old. I'm available overnight/24 hour+ time span newborn - 12 years old. My husband and I have recently moved to Henderson from San Diego and I am currently available weekdays starting at 5:00 p.m. and free anytime on the weekends. (Overnights are OK). Healthy cooking & light cleaning is available for extra charge. I love kid friendly crafts: painting, baking, gardening, etc.",
            "categories":["Care"],
            "attributes":{
                "periode":["Yearly","Montly"],
                "number":[1,3,6]
            },
            "categories":["Care"],
            "variants"=>[
              {
                "attribute1": "Yearly",
                "attribute2": 1,
                "sellingPrice": 999.99,
                "discount": 10
              },
              {
                "attribute1": "Yearly",
                "attribute2": 2,
                "sellingPrice": 1499.99,
                "discount": 10
              },
              {
                "attribute1": "Montly",
                "attribute2": 1,
                "sellingPrice": 499.99,
                "discount": 10
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "serviceId": "576a98aed97fcecfe867ec4a",
                    "storeLocationId": 432,
                    "serviceName":"Baby Sitter",
                    "serviceDescription":"I have 10+ years of experience ages from newborn - 12 years old. I'm available overnight/24 hour+ time span newborn - 12 years old. My husband and I have recently moved to Henderson from San Diego and I am currently available weekdays starting at 5:00 p.m. and free anytime on the weekends. (Overnights are OK). Healthy cooking & light cleaning is available for extra charge. I love kid friendly crafts: painting, baking, gardening, etc.",
                    "categories":["Care"],
                    "attributes":{
                        "periode":["Yearly","Montly"],
                        "number":[1,3,6]
                    },
                    "categories":["Care"],
                    "variants"=>[
                      {
                        "variantId": "5774fcdad97fce4da4513f34",
                        "attribute1": "Yearly",
                        "attribute2": 1,
                        "sellingPrice": 999.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f35",
                        "attribute1": "Yearly",
                        "attribute2": 2,
                        "sellingPrice": 1499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f36",
                        "attribute1": "Montly",
                        "attribute2": 1,
                        "sellingPrice": 499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      }
                    ]
                  }
                ]
              }
  put:
    description: To update a service
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>serviceId</b> - String of service is.</p>
          <p><b>serviceName</b> - String of service name.</p>
          <p><b>serviceDescription</b> - String a short description about service.</p>
          <p><b>categories</b> - Array of strings which has category name.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with 'price' is mandatory other fields should be filled based on the attributes.</p>
          <p><b>attributes</b> - Array of name=>values. periode and number is mandatory</p>
          <p><b>files</b> - media file.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "serviceId": "576a98aed97fcecfe867ec4a",
            "storeLocationId": 432,
            "serviceName":"Baby Sitter",
            "serviceDescription":"I have 10+ years of experience ages from newborn - 12 years old. I'm available overnight/24 hour+ time span newborn - 12 years old. My husband and I have recently moved to Henderson from San Diego and I am currently available weekdays starting at 5:00 p.m. and free anytime on the weekends. (Overnights are OK). Healthy cooking & light cleaning is available for extra charge. I love kid friendly crafts: painting, baking, gardening, etc.",
            "categories":["Care"],
            "attributes":{
                "periode":["Yearly","Montly"],
                "number":[1,3,6]
            },
            "categories":["Care"],
            "variants"=>[
              {
                "variantId": "5774fcdad97fce4da4513f34",
                "attribute1": "Yearly",
                "attribute2": 1,
                "sellingPrice": 999.99,
                "discount": 10,
                "serviceId": "576a98aed97fcecfe867ec4a"
              },
              {
                "variantId": "5774fcdad97fce4da4513f35",
                "attribute1": "Yearly",
                "attribute2": 2,
                "sellingPrice": 1499.99,
                "discount": 10,
                "serviceId": "576a98aed97fcecfe867ec4a"
              },
              {
                "variantId": "5774fcdad97fce4da4513f36",
                "attribute1": "Montly",
                "attribute2": 1,
                "sellingPrice": 499.99,
                "discount": 10,
                "serviceId": "576a98aed97fcecfe867ec4a"
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "serviceId": "576a98aed97fcecfe867ec4a",
                    "productName": "iPhone SE",
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes":{
                      "periode":["Yearly","Montly"],
                      "number":[1,3,6]
                    },
                    "variants"=>[
                      {
                        "variantId": "5774fcdad97fce4da4513f34",
                        "attribute1": "Yearly",
                        "attribute2": 1,
                        "sellingPrice": 999.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f35",
                        "attribute1": "Yearly",
                        "attribute2": 2,
                        "sellingPrice": 1499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f36",
                        "attribute1": "Montly",
                        "attribute2": 1,
                        "sellingPrice": 499.99,
                        "discount": 10,
                        "serviceId": "576a98aed97fcecfe867ec4a"
                      }
                    ]
                  }
                ]
              }
  delete:
    description: To delete a service
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>serviceId</b> - String of service id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
            {
              "serviceId": "576a98aed97fcecfe867ec4a"
            }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/merchant/service/search:
  get:
    description: To fetch service information for autocompleting fields
    queryParameters:
      param1:
          type: string
          required: true
          displayName: Token
          description: Token generated by login call
      param2:
          required: true
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b>IMEI</b> - optional. generated imei value of the client</p>
            <p><b>serviceName</b> - String of product name.</p>
            <p><b>categoryName</b> - String of category name.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "categoryName":"Ba"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response":["Baby Sitter", "Barbery"]
              }
/merchant/package:
  description: Package endpoit provide you whole the functionality you need to work with packages, you can find further information for them in the documentation.
  get:
    description: To fetch a specific package or a list of packages you can use this endpoint. all the parameters are optional by setting <b>packageId</b> the two other parameters will ignored. results are always an array of product object(s) even if you send your request with <b>productId</b>. to fetch a list of products you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible products will returned.
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>productId</i></b> - productId for specific product. <u>Optional</u></p>
            <p><b><i>storeLocationId</i></b> - storeLocationId for specific store. <u>Optional</u></p>
            <p><b><i>category</i></b> - category name for specific category. <u>Optional</u></p>
            <p><b><i>packageName</i></b> - productName for specific product. <u>Optional</u></p>
            <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
            <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
            <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {
            "packageId": "576a98aed97fcecfe867ec4a",
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Packages": [
                    {
                      "packageDisplayName": "test package",
                      "packageDescription": "asdsadasd",
                      "storeLocationId": 424,
                      "categories": [
                        "cellphone",
                        "iphone"
                      ],
                      "products": [
                        {
                          "productDisplayName": "test3",
                          "storeLocationId": 424,
                          "isAddon": false,
                          "attributes": {
                            "attribute1": {
                              "name": "color",
                              "values": [
                                "red",
                                "blue"
                              ]
                            },
                            "attribute2": {
                              "name": "size",
                              "values": [
                                "x",
                                "xxl"
                              ]
                            },
                            "attribute3": {
                              "name": ""
                            }
                          },
                          "merchantId": 472,
                          "updatedUserId": 459,
                          "createdUserId": 459,
                          "categories": [
                            "Uncategorized"
                          ],
                          "storeLocationCaption": "Headquarters",
                          "created_at": 1474875132,
                          "updated_at": 1474961344,
                          "productName": "headquarters_test3",
                          "taxes": [
                            {
                              "taxId": "41",
                              "taxDisplayName": "VAT",
                              "taxName": "vat",
                              "taxMode": "%",
                              "taxValue": "9.00",
                              "taxType": "Exclusive",
                              "status": "1",
                              "taxRuleApplyFor": null
                            }
                          ],
                          "productId": "57e8cefcd97fcef0a3738eae",
                          "storeLocation": "Headquarters",
                          "variants": [
                            {
                              "attribute1": "red",
                              "attribute2": "x",
                              "sellingPrice": 1212,
                              "discountType": "%",
                              "productId": "57e8cefcd97fcef0a3738eae",
                              "merchantId": 472,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "created_at": 1474875132,
                              "updated_at": 1474875132,
                              "inventory": 0,
                              "variantId": "57e8cefcd97fcef0a3738eaf"
                            },
                            {
                              "attribute1": "blue",
                              "attribute2": "x",
                              "sellingPrice": 343,
                              "discountType": "%",
                              "productId": "57e8cefcd97fcef0a3738eae",
                              "merchantId": 472,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "created_at": 1474875132,
                              "updated_at": 1474875132,
                              "inventory": 0,
                              "variantId": "57e8cefcd97fcef0a3738eb1"
                            },
                            {
                              "attribute1": "red",
                              "attribute2": "xxl",
                              "sellingPrice": 234324,
                              "discountType": "%",
                              "productId": "57e8cefcd97fcef0a3738eae",
                              "merchantId": 472,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "created_at": 1474875132,
                              "updated_at": 1474875132,
                              "inventory": 0,
                              "variantId": "57e8cefcd97fcef0a3738eb3"
                            },
                            {
                              "attribute1": "blue",
                              "attribute2": "xxl",
                              "sellingPrice": 2343,
                              "discountType": "%",
                              "productId": "57e8cefcd97fcef0a3738eae",
                              "merchantId": 472,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "created_at": 1474875132,
                              "updated_at": 1474875132,
                              "inventory": 0,
                              "variantId": "57e8cefcd97fcef0a3738eb5"
                            }
                          ],
                          "parentCategories": [
                            {
                              "productCategoryId": "211",
                              "parentProductCategoryId": null,
                              "productCategoryName": "Uncategorized",
                              "status": "0",
                              "createdUserId": "459",
                              "updatedUserId": "459",
                              "created_at": "1474617440",
                              "updated_at": "1474617440",
                              "merchantId": "472"
                            }
                          ]
                        }
                      ],
                      "taxes": [
                        {
                          "taxId": "41",
                          "taxDisplayName": "VAT",
                          "taxName": "vat",
                          "taxMode": "%",
                          "taxValue": "9.00",
                          "taxType": "Exclusive",
                          "status": "1",
                          "taxRuleApplyFor": null
                        }
                      ],
                      "merchantId": 472,
                      "price": 12222,
                      "updatedUserId": 459,
                      "createdUserId": 459,
                      "storeLocationCaption": "Headquarters",
                      "created_at": 1474989485,
                      "updated_at": 1474989485,
                      "packageName": "headquarters_test_package",
                      "packageId": "57ea8dadd97fce608f056a53",
                      "storeLocation": "Headquarters",
                      "addons": []
                    }
                  ],
                  "total": 1
                }
              }
  post:
    description: To creat a new product
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
          <p><b>storeLocationId</b> - Integer of a store this product is belong to.</p>
          <p><b>productName</b> - String of product name.</p>
          <p><b>productDescription</b> - String a short description about product.</p>
          <p><b>categories</b> - Array of strings which are category name or integers which are category id.</p>
          <p><b>manufacturers</b> - Array of strings which has vendor name.</p>
          <p><b>attributes</b> - Array of attributes.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with <b>sellingPrice</b>, <b>invantory</b> and <b>sku</b> are mandatory if the merchant set inventory enable in his/her setting, otherwise <b>sellingPrice</b> is the onlny mandatory field. other fields should be filled based on the attributes.</p>
          <p><b><i>files</i></b> - media file. <u>Optional</u></p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productDisplayName":"iPhone SE",
            "upc":"eadf23ewr42",
            "storeLocationId": 432,
            "productDescription":"iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
            "categories":["Electronic","Cellphone", 13, 15],
            "manufacturers":["Apple"],
            "attributes":{
                "attribute1":{
                  "name":"color",
                  "values":["RozeGold","Gold","Black"],
                },
                "attribute2":{
                  "name":"memory",
                  "values":["16G","64G","128G"],
                },
                "attribute3":{
                  "name":"series",
                  "values":["S","SE"],
                }
            },
            "taxes": [
              1, 2
            ],
            "variants": [
              {
                "attribute1": "RozeGold",
                "attribute2": "16G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 299.99,
                "buyingPrice": 200.00,
                "mrp": 349.99,
                "discount": 10
              },
              {
                "attribute1": "Gold",
                "attribute2": "64G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 349.99,
                "buyingPrice": 205.00,
                "mrp": 399.99,
                "discount": 10
              },
              {
                "attribute1": "Black",
                "attribute2": "128G",
                "attribute3": "SE",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 329.99,
                "buyingPrice": 222.00,
                "mrp": 349.99,
                "discount": 10
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "5774fcdad97fce4da4513f31",
                    "productName": "headquarter_iphone_6s",
                    "productDisplayName": "iPhone 6S",
                    "upc":"eadf23ewr42",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes":{
                      "attribute1":{
                        "name":"color",
                        "values":["RozeGold","Gold","Black"],
                      },
                      "attribute2":{
                        "name":"memory",
                        "values":["16G","64G","128G"],
                      },
                      "attribute3":{
                        "name":"series",
                        "values":["S","SE"],
                      }
                    },
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1467284698,
                    "updated_at": 1468062355,
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "variants": [
                      {
                        "variantId": "5774fcdad97fce4da4513f32",
                        "attribute1": "RozeGold",
                        "attribute2": "16G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f33",
                        "attribute1": "Gold",
                        "attribute2": "64G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "variantId": "5774fcdad97fce4da4513f34",
                        "attribute1": "Black",
                        "attribute2": "128G",
                        "attribute3": "SE",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      }
                    ]
                  }
                ]
              }
  put:
    description: To update a product
    queryParameters:
      param1:
        required: true
        type: string
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>productName</b> - String of product name.</p>
          <p><b>productDescription</b> - String a short description about product.</p>
          <p><b>categories</b> - Array of strings which has category name.</p>
          <p><b>manufacturers</b> - Array of strings which has vendor name.</p>
          <p><b>attributes</b> - Array of name=>values.</p>
          <p><b>variants</b> - Array of name=>value parameters at least one variant with 'price', 'invantory' and 'sku' are mandatory other fields should be filled based on the attributes.</p>
          <p><b>files</b> - media file.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productId": "576a98aed97fcecfe867ec4a",
            "storeLocationId": 432,
            "productDisplayName": "iPhone 6S",
            "upc":"eadf23ewr42",
            "productDescription":"iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
            "categories":["Electronic","Cellphone"],
            "manufacturers":["Apple"],
            "attributes":{
              "attribute1":{
                "name":"color",
                "values":["RozeGold","Gold","Black"],
              },
              "attribute2":{
                "name":"memory",
                "values":["16G","64G","128G"],
              },
              "attribute3":{
                "name":"series",
                "values":["S","SE"],
              }
            },
            "variants": [
              {
                "variantId": "576a98aed97fcecfe867ec4a",
                "attribute1": "RozeGold",
                "attribute2": "16G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 299.99,
                "buyingPrice": 200.00,
                "mrp": 349.99,
                "discount": 10
              },
              {
                "variantId": "576a989jfe7fcecfe867ec4a",
                "attribute1": "Gold",
                "attribute2": "64G",
                "attribute3": "S",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 349.99,
                "buyingPrice": 205.00,
                "mrp": 399.99,
                "discount": 10
              },
              {
                "variantId": "576a98aed97fcecfe8fedfef",
                "attribute1": "Black",
                "attribute2": "128G",
                "attribute3": "SE",
                "sku": "some_sku",
                "inventory": 1500,
                "threshold": 5,
                "sellingPrice": 329.99,
                "buyingPrice": 222.00,
                "mrp": 349.99,
                "discount": 10
              }
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "576a98aed97fcecfe867ec4a",
                    "productName": "headquarter_iphone_6s",
                    "productDisplayName": "iPhone 6S",
                    "upc":"eadf23ewr42",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes":{
                      "attribute1":{
                        "name":"color",
                        "values":["RozeGold","Gold","Black"],
                      },
                      "attribute2":{
                        "name":"memory",
                        "values":["16G","64G","128G"],
                      },
                      "attribute3":{
                        "name":"series",
                        "values":["S","SE"],
                      }
                    },
                    "variants": [
                      {
                        "variantId": "576a98aed97fcecfe867ec4a",
                        "attribute1": "RozeGold",
                        "attribute2": "16G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200.00,
                        "mrp": 349.99,
                        "discount": 10
                      },
                      {
                        "variantId": "576a989jfe7fcecfe867ec4a",
                        "attribute1": "Gold",
                        "attribute2": "64G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205.00,
                        "mrp": 399.99,
                        "discount": 10
                      },
                      {
                        "variantId": "576a98aed97fcecfe8fedfef",
                        "attribute1": "Black",
                        "attribute2": "128G",
                        "attribute3": "SE",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222.00,
                        "mrp": 349.99,
                        "discount": 10
                      }
                    ]
                  }
                ]
              }
  delete:
    description: To delete a product
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>productId</b> - String of product id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productId": "576a98aed97fcecfe867ec4a"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
/merchant/tax/product:
  description: To assign and delete taxes to/from one or more specific or event all of the products you can use this endpoint by sending your request with <b>POST</b> and <b>DELETE</b> verbs. or getting a list of product with specific tax
  get:
    description: To fetch product(s) with a specific taxId.
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client</p>
          <p><b><i>taxId</i></b> - Array of products id. this parameter is optional if you do not send it the tax(es) will assign to all products belong to the current merchant!</p>
          <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a product update. <u>Optional</u></p>
          <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
          <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "taxId": 2
          }
    responses:
      200:
        body:
          application/json:
            example: |
             {
                "success": 1,
                "response": [
                  {
                    "productName": "iPhone SE",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1469512091,
                    "updated_at": 1469512091,
                    "productId": "5796f99bd97fce2984798aeb",
                    "storeLocation": "Headquarters",
                    "variants": [
                      {
                        "sku": "mnb3j245kj",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99bd97fce2984798aeb",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512091,
                        "updated_at": 1469512091,
                        "variantId": "5796f99bd97fce2984798aec"
                      },
                      {
                        "sku": "sdfm5ntn",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5796f99bd97fce2984798aeb",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512091,
                        "updated_at": 1469512091,
                        "variantId": "5796f99bd97fce2984798aed"
                      },
                      {
                        "sku": "crmn34jt",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99bd97fce2984798aeb",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512091,
                        "updated_at": 1469512091,
                        "variantId": "5796f99bd97fce2984798aee"
                      }
                    ]
                  },
                  {
                    "productName": "iPhone SE",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1469512094,
                    "updated_at": 1469512094,
                    "productId": "5796f99ed97fce064434bc0c",
                    "storeLocation": "Headquarters",
                    "variants": [
                      {
                        "sku": "mnb3j245kj",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99ed97fce064434bc0c",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512094,
                        "updated_at": 1469512094,
                        "variantId": "5796f99ed97fce064434bc0d"
                      },
                      {
                        "sku": "sdfm5ntn",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5796f99ed97fce064434bc0c",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512094,
                        "updated_at": 1469512094,
                        "variantId": "5796f99ed97fce064434bc0e"
                      },
                      {
                        "sku": "crmn34jt",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99ed97fce064434bc0c",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512094,
                        "updated_at": 1469512094,
                        "variantId": "5796f99ed97fce064434bc0f"
                      }
                    ]
                  },
                  {
                    "productName": "iPhone SE",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1469512095,
                    "updated_at": 1469512095,
                    "productId": "5796f99fd97fce3dfc00425e",
                    "storeLocation": "Headquarters",
                    "variants": [
                      {
                        "sku": "mnb3j245kj",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99fd97fce3dfc00425e",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512096,
                        "updated_at": 1469512096,
                        "variantId": "5796f9a0d97fce3dfc00425f"
                      },
                      {
                        "sku": "sdfm5ntn",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5796f99fd97fce3dfc00425e",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512096,
                        "updated_at": 1469512096,
                        "variantId": "5796f9a0d97fce3dfc004260"
                      },
                      {
                        "sku": "crmn34jt",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5796f99fd97fce3dfc00425e",
                        "merchantId": 480,
                        "createdUserId": 463,
                        "created_at": 1469512096,
                        "updated_at": 1469512096,
                        "variantId": "5796f9a0d97fce3dfc004261"
                      }
                    ]
                  }
                ]
              }
  post:
    description: To assign one or more tax(es) to one or more product(s). the system won't show an error message if requested tax(es) id did already assigned to the requested product(s).
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client</p>
          <p><b><i>productsId</i></b> - Array of products id. this parameter is optional if you do not send it the tax(es) will assign to all products belong to the current merchant!</p>
          <p><b>taxesId</b> - array of tax id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productsId": ["5774fcdad97fce4da4513f31"],
            "taxesId": [
              1, 2
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "5774fcdad97fce4da4513f31",
                    "productName": "iPhone SE",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes": {
                      "color": [
                        "RozeGold",
                        "Gold",
                        "Black"
                      ],
                      "memory": [
                        "16G",
                        "64G",
                        "128G"
                      ],
                      "series": [
                        "S",
                        "SE"
                      ]
                    },
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1467284698,
                    "updated_at": 1468062355,
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ],
                    "variants": [
                      {
                        "_id": "5774fcdad97fce4da4513f32",
                        "attribute1": "RozeGold",
                        "attribute2": "16G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 299.99,
                        "buyingPrice": 200,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "_id": "5774fcdad97fce4da4513f33",
                        "attribute1": "Gold",
                        "attribute2": "64G",
                        "attribute3": "S",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 349.99,
                        "buyingPrice": 205,
                        "mrp": 399.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      },
                      {
                        "_id": "5774fcdad97fce4da4513f34",
                        "attribute1": "Black",
                        "attribute2": "128G",
                        "attribute3": "SE",
                        "sku": "some_sku",
                        "inventory": 1500,
                        "threshold": 5,
                        "sellingPrice": 329.99,
                        "buyingPrice": 222,
                        "mrp": 349.99,
                        "discount": 10,
                        "productId": "5774fcdad97fce4da4513f31"
                      }
                    ]
                  }
                ]
              }
  delete:
    description: To remove one or more tax(es) from one or more product(s). the system won't show an error message if requested tax(es) id didn't already assigned to the requested product(s).
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client</p>
          <p><b><i>productsId</i></b> - Array of products id. this parameter is optional if you do not send it the tax(es) will remove from all products belong to the current merchant!</p>
          <p><b>taxesId</b> - array of tax id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "productsId": ["576a98aed97fcecfe867ec4a"],
            "taxesId": [1]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": []
              }
/merchant/tax/category:
  description: To assign and delete tax(es) to/from all of the products in one or more categories you can use this endpoint by sending your request with <b>POST</b> and <b>DELETE</b> verbs.
  get:
    description: To get a list of categories with their assigned taxes.
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client</p>
          <p><b><i>taxId</i></b> - get the list for specific taxId</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productCategoryId": 111,
                    "productCategoryName": "Baby Foods",
                    "taxName": "Luxury"
                  },
                  {
                    "productCategoryId": 113,
                    "productCategoryName": "Candy & Chocolate",
                    "taxName": "Governments"
                  },
                  {
                    "productCategoryId": 121,
                    "productCategoryName": "Laptops & Netbooks",
                    "taxName": "Governments"
                  },
                  {
                    "productCategoryId": 126,
                    "productCategoryName": "Monitors, Projectors & Accs",
                    "taxName": "Governments"
                  }
                ]
              }
  post:
    description: To assign tax(es) to all of the products in one or more categories.
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b><i>IMEI</i></b> - generated imei value of the client</p>
          <p><b>categories</b> - Array of category you want to apply taxes to their current products!</p>
          <p><b>taxesId</b> - array of tax id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "categories": ["Electronic"],
            "taxesId": [
              1, 2
            ]
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": [
                  {
                    "productId": "5774fcdad97fce4da4513f31",
                    "productName": "iPhone SE",
                    "storeLocationId": 432,
                    "productDescription": "iPhone SE, the most powerful 4‑inch phone ever. To create it, we started with a beloved design, then reinvented it from the inside out. The A9 is the same advanced chip used in iPhone 6s. The 12‑megapixel camera captures incredible photos and 4K videos. And Live Photos bring your images to life. The result is an iPhone that looks small. But lives large.",
                    "categories": [
                      "Electronic",
                      "Cellphone"
                    ],
                    "manufacturers": [
                      "Apple"
                    ],
                    "attributes": {
                      "color": [
                        "RozeGold",
                        "Gold",
                        "Black"
                      ],
                      "memory": [
                        "16G",
                        "64G",
                        "128G"
                      ],
                      "series": [
                        "S",
                        "SE"
                      ]
                    },
                    "merchantId": 480,
                    "createdUserId": 463,
                    "updatedUserId": 463,
                    "created_at": 1467284698,
                    "updated_at": 1468084795,
                    "taxes": [
                      {
                        "taxId": "1",
                        "taxName": "some tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "Delivery"
                      },
                      {
                        "taxId": "2",
                        "taxName": "some other tax",
                        "taxMode": "%",
                        "taxValue": "0.00",
                        "taxType": "Inclusive",
                        "status": "0",
                        "taxRuleApplyFor": "For Here"
                      }
                    ]
                  }
                ]
              }
  delete:
    description: To delete some taxes from some products
    queryParameters:
      param1:
        type: string
        required: true
        displayName: Token
        description: Token generated by login call
      param2:
        required: true
        type: string
        displayName: requestParams
        description: Below keys are accepted [Json String]
          <p><b>IMEI</b> - generated imei value of the client</p>
          <p><b>categories</b> - array of category.</p>
          <p><b>taxesId</b> - array of tax id.</p>
    securedBy: [customSecurityScheme]
    body:
      application/json:
        example: |
          {
            "categories": ["Electronic"],
            "taxesId": [1]
          }
    responses:
      200:
        body:
          application/json:
            example: |
[...]
