#%RAML 0.8
title: ePaisa APP 2.0 API Documentation
version: 2.0
baseUri: https://nine.epaisa.com
securitySchemes:
  - customSecurityScheme:
      type:
        x-custome
      description: This <i>Token</i> is generated by login call and is working for one houre.
/reports/items:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {"fromDate":"12-12-2016"}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Items": {
                    "customItems": [
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 11.25
                      },
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 64.405
                      },
                      {
                        "id": "",
                        "name": "Item 1",
                        "quantity": 1,
                        "sales": 220
                      },
                      {
                        "id": "",
                        "name": "Item 2",
                        "quantity": 1,
                        "sales": 5.88
                      }
                    ],
                    "products": [
                      {
                        "id": "57cead0bcfcdbc4ff8488e3c",
                        "name": "bshsj",
                        "quantity": 1,
                        "sales": 2180
                      },
                      {
                        "id": "57dbdbbacfcdbc78050d974d",
                        "name": "burger",
                        "quantity": 1,
                        "sales": 300
                      },
                      {
                        "id": "57d01b8dcfcdbc3f4d779288",
                        "name": "kids wear",
                        "quantity": 3,
                        "sales": 3000
                      }
                    ]
                  }
                }
              }
/reports/categories:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                  "Categories": {
                    "Food": {
                      "quantity": 1,
                      "sales": 580.99
                    },
                    "Uncategorized": {
                      "quantity": 3,
                      "sales": 3000
                    },
                    "Mensware": {
                      "quantity": 3,
                      "sales": 3000
                    }
                  }
                }
              }
/reports/summary:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>fromDate</i></b> - start date range d-m-y default is begining of the today. <u>Optional</u></p>
            <p><b><i>toDate</i></b> - end date range d-m-y default is end of the today. <u>Optional</u></p>
    body:
      application/json:
        example: |
          {"fromDate":"12-12-2016"}
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "success": 1,
                "response": {
                    "Summary": {
                        "fromDate": "February 13, 2017, 12:00 am",
                        "toDate": "February 13, 2017, 11:59 pm",
                        "sales": 0,
                        "numberOfSales": 0,
                        "averageSale": 0,
                        "gross": 0,
                        "hours": {
                            "12 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "1 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "3 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "4 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "5 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "6 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "7 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "8 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "9 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "10 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "11 AM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "12 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "1 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "2 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "3 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "4 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "5 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "6 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "7 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "8 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "9 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "10 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            },
                            "11 PM": {
                                "numberOfSales": 0,
                                "averageSale": 0,
                                "sales": 0,
                                "gross": 0
                            }
                        }
                    }
                }
              }
/reports/compare:
  description: Reports endpoit provide you whole the functionality you need to work with reports apis.
  get:
    securedBy: [customSecurityScheme]
    queryParameters:
      param1:
          required: true
          type: string
          displayName: Token
          description: This <i>Token</i> is generated by login call and is working for one houre.
      param2:
          required: true
          type: string
          displayName: clientId
          description: This <i>ID</i> is generated for each client.
      param3:
          required: false
          type: string
          displayName: requestParams
          description: Below keys are accepted [Json String]
            <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
            <p><b><i>merchantId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
            <p><b><i>userId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
            <p><b><i>first</i></b> - an object contain fromDate and toDate one side of comparison.</p>
            <p><b><i>second</i></b> - an object contain fromDate and toDate the other side of comparison.</p>
            <p><b><i>fromDate</i></b> - start date of comparison date range.</p>
            <p><b><i>toDate</i></b> - end date of comparison date range.</p>
    body:
      application/json:
        example: |
          {
              "first": {
                  "fromDate": "01-02-2017",
                  "toDate": "28-02-2017"
              },
              "second": {
                  "fromDate": "01-03-2017",
                  "toDate": "31-03-2017"
              }
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                  "success": 1,
                  "response": {
                      "first": {
                          "fromDate": "February 1, 2017, 12:00 am",
                          "toDate": "February 28, 2017, 11:59 pm",
                          "sales": 579980.08,
                          "numberOfSales": 38,
                          "averageSale": 15287.85,
                          "gross": 580938.33,
                          "netSales": 579777.18,
                          "refund": 0,
                          "tax": 203.638,
                          "discount": 1161.15,
                          "total": 579980.82
                      },
                      "second": {
                          "fromDate": "March 1, 2017, 12:00 am",
                          "toDate": "March 31, 2017, 11:59 pm",
                          "sales": 23533.7,
                          "numberOfSales": 70,
                          "averageSale": 409.53,
                          "gross": 28667.23,
                          "netSales": 23982.57,
                          "refund": 0,
                          "tax": 1039.0503626104,
                          "discount": 4684.66,
                          "total": 25021.62
                      }
                  }
              }
/care/department:
              description: Departments endpoit provide you whole the functionality you need to work with department apis.
              get:
                description: To fetch a list of departments. you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible departments will returned.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: false
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>departmentId</i></b> - departmentId fetch specific department information. <u>Optional</u></p>
                        <p><b><i>departmentsId</i></b> - departmentsId fetch a list of department information. <u>Optional</u></p>
                        <p><b><i>departmentName</i></b> - departmentName fetch all department their name started with this paramter's value information. <u>Optional</u></p>
                        <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a room update. <u>Optional</u></p>
                        <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
                        <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "departmentsId": [1,2,3,4,5,6]
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "Departments": [
                                {
                                  "departmentId": 1,
                                  "departmentName": "Accident and emergency (A&E)",
                                  "departmentDescription": "Also called Casualty Department, where you're likely to be taken if you have arrived in an ambulance or emergency situation.",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481013677,
                                  "updated_at": 1481013677,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                },
                                {
                                  "departmentId": 2,
                                  "departmentName": "Physiotherapy",
                                  "departmentDescription": "Physiotherapists work through physical therapies such as exercise, massage, and manipulation of bones, joints and muscle tissues.",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481014148,
                                  "updated_at": 1481014148,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                },
                                {
                                  "departmentId": 3,
                                  "departmentName": "Microbiology",
                                  "departmentDescription": "The microbiology department provides an extensive clinical service, including mycology, parasitology, mycobacteriology, a high security pathology unit, and a healthcare associated infection investigation unit, as well as routine bacteriology and an expanding molecular diagnostic repertoire.",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481014176,
                                  "updated_at": 1481014176,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                },
                                {
                                  "departmentId": 4,
                                  "departmentName": "Neurology",
                                  "departmentDescription": "A medical specialty dealing with disorders of the nervous system. Specifically, it deals with the diagnosis and treatment of all categories of disease involving the central, peripheral, and autonomic nervous systems, including their coverings, blood vessels, and all effector tissue, such as muscle. Includes the brain, spinal cord, and spinal cord injuries (SCI).",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481014176,
                                  "updated_at": 1481014176,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                },
                                {
                                  "departmentId": 5,
                                  "departmentName": "Obstetrics/Gynecology",
                                  "departmentDescription": "Specialist nurses, midwives and imaging technicians provide maternity services such as: antenatal and postnatal care, maternal and foetal surveillance, and prenatal diagnosis.",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481014176,
                                  "updated_at": 1481014176,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                },
                                {
                                  "departmentId": 6,
                                  "departmentName": "Oncology",
                                  "departmentDescription": "A branch of medicine that deals with cancer and tumors. A medical professional who practices oncology is an oncologist. The Oncology department provides treatments, including radiotherapy and chemotherapy, for cancerous tumors and blood disorders.",
                                  "status": 1,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "created_at": 1481014801,
                                  "updated_at": 1481014801,
                                  "createdUserId": 459,
                                  "updatedUserId": 459
                                }
                              ],
                              "total": "6"
                            }
                          }
              post:
                description: To create a new department.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>departmentName</i></b> - departmentName is a title for each department like Emeregency.</p>
                        <p><b><i>departmentDescription</i></b> - a short description <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "departmentName": "Accident and emergency (A&E)",
                        "departmentDescription": "Also called Casualty Department, where you're likely to be taken if you have arrived in an ambulance or emergency situation."
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "departmentName": "Accident and emergency (A&E)",
                              "departmentDescription": "Also called Casualty Department, where you're likely to be taken if you have arrived in an ambulance or emergency situation.",
                              "updatedUserId": 459,
                              "createdUserId": 459,
                              "created_at": 1481013677,
                              "updated_at": 1481013677,
                              "departmentId": 1
                            }
                          }
              put:
                description: To edit a department.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>departmentId</i></b> - roomId is unique identifier for each department.</p>
                        <p><b><i>departmentName</i></b> - departmentName is a title for each department like Emeregency.</p>
                        <p><b><i>departmentDescription</i></b> - a short description <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "departmentId": 1,
                        "departmentName": "Accident and emergency (A&E)",
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "departmentName": "Accident and emergency (A&E)",
                              "departmentDescription": "Also called Casualty Department, where you're likely to be taken if you have arrived in an ambulance or emergency situation.",
                              "updatedUserId": 459,
                              "createdUserId": 459,
                              "created_at": 1481013677,
                              "updated_at": 1481013677,
                              "departmentId": 1
                            }
                          }
              delete:
                description: To delete a department.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>departmentId</i></b> - roomId is unique identifier for each department.</p>
                body:
                  application/json:
                    example: |
                      {
                        "departmentId": 1
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": []
                          }
/care/room:
              description: Rooms endpoit provide you whole the functionality you need to work with room apis.
              get:
                description: To fetch a list of rooms. you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible rooms will returned.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: false
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>roomId</i></b> - roomId fetch specific room information. <u>Optional</u></p>
                        <p><b><i>roomsId</i></b> - fetch a list of specific rooms information. <u>Optional</u></p>
                        <p><b><i>roomName</i></b> - roomName fetch all rooms their name started with this paramter's value information. <u>Optional</u></p>
                        <p><b><i>isForDoctor</i></b> - fetch only rooms for doctors. <u>Optional</u></p>
                        <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a room update. <u>Optional</u></p>
                        <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
                        <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "roomsId": [1,3]
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "Rooms": [
                                {
                                  "roomId": 1,
                                  "roomName": "Emergency",
                                  "roomNumber": "1",
                                  "isForDoctor": 1,
                                  "status": 1,
                                  "created_at": 1479463340,
                                  "updated_at": 1479463765,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472
                                },
                                {
                                  "roomId": 3,
                                  "roomName": "Emergency Heart",
                                  "roomNumber": "1",
                                  "isForDoctor": 0,
                                  "status": 1,
                                  "created_at": 1479464162,
                                  "updated_at": 1479464211,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472
                                }
                              ],
                              "total": "2"
                            }
                          }
              post:
                description: To create a new room.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>roomName</i></b> - roomName is a title for each room like Emeregency.</p>
                        <p><b><i>roomNumber</i></b> - roomNumber is for the situations we have more than one room for specific purpos for example if you have 3 emergency room you have roomNumber 1, 2 and 3 with the same roomName. <u>Optional</u></p>
                        <p><b><i>isForDoctor</i></b> - fetch only rooms for doctors. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "roomName": "Emergency",
                        "roomNumber": "1",
                        "isForDoctor": 0,
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "roomName": "Emergency",
                              "roomNumber": "1",
                              "isForDoctor": 0,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "created_at": 1479463340,
                              "updated_at": 1479463340,
                              "roomId": 1,
                              "merchantId": 472
                            }
                          }
              put:
                description: To edit a room.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>roomId</i></b> - roomId is unique identifier for each room.</p>
                        <p><b><i>roomName</i></b> - roomName is a title for each room like Emeregency.</p> <u>Optional</u></p>
                        <p><b><i>roomNumber</i></b> - roomNumber is for the situations we have more than one room for specific purpos for example if you have 3 emergency room you have roomNumber 1, 2 and 3 with the same roomName. <u>Optional</u></p>
                        <p><b><i>isForDoctor</i></b> - fetch only rooms for doctors. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "roomId": 1,
                        "isForDoctor": 1,
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "roomId": 1,
                              "roomName": "Emergency",
                              "roomNumber": "1",
                              "isForDoctor": 1,
                              "status": 1,
                              "created_at": 1479463340,
                              "updated_at": 1479463765,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "merchantId": 472
                            }
                          }
              delete:
                description: To delete a room.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>roomId</i></b> - roomId is unique identifier for each room.</p>
                body:
                  application/json:
                    example: |
                      {
                        "roomId": 3
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": []
                          }
/care/patient:
              description: Patients endpoit provide you whole the functionality you need to work with patient apis.
              get:
                description: To fetch a list of patients. you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible products will returned.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: false
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientId</i></b> - patientId fetch specific patient information. <u>Optional</u></p>
                        <p><b><i>patientsId</i></b> - fetch a list of specific patients information. <u>Optional</u></p>
                        <p><b><i>patientBloodType</i></b> - patientBloodType fetch all patients with specific blood type. <u>Optional</u></p>
                        <p><b><i>patientBirthday</i></b> - fetch all patients with specific birthday. <u>Optional</u></p>
                        <p><b><i>patientGender</i></b> - fetch all patients with specific gender 0 is for women and 1 is for men. <u>Optional</u></p>
                        <p><b><i>updated_at</i></b> - last modified date is the last time client fetch patients update. <u>Optional</u></p>
                        <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
                        <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "patientsId":[1,2]
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "Patients": [
                                {
                                  "patientId": 36973,
                                  "patientColor": "#f23470",
                                  "patientLabel": "IR",
                                  "customerId": 38770,
                                  "patientBloodType": "B-",
                                  "patientBirthday": "1977-02-08",
                                  "patientGender": 0,
                                  "status": 1,
                                  "created_at": 1481265551,
                                  "updated_at": 1481265551,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "conditions": [
                                    {
                                      "patientConditionId": 195218,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481249249,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "13/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195219,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481172139,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "12/8",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195220,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481198371,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "16/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195221,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481168834,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "15/10",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195222,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481214111,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "110",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195223,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481217973,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "88",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195224,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481201695,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "67",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195225,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481206803,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "120",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195226,
                                      "patientId": 36973,
                                      "patientConditionsDiagnosedDate": 1481235707,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "100",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    }
                                  ],
                                  "appointments": [
                                    {
                                      "appointmentId": 34924,
                                      "serviceId": 141,
                                      "appointmentDate": "14-Apr-17",
                                      "appointmentStartTime": 1481265890,
                                      "appointmentEndTime": 1481267344,
                                      "consultationType": "quo et laborum",
                                      "doctorId": 1802,
                                      "patientId": 36973,
                                      "roomId": 112,
                                      "status": 1,
                                      "created_at": 1481265890,
                                      "updated_at": 1481265890,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472,
                                      "storeLocationId": 424
                                    },
                                    {
                                      "appointmentId": 36246,
                                      "serviceId": 125,
                                      "appointmentDate": "14-Feb-17",
                                      "appointmentStartTime": 1481265965,
                                      "appointmentEndTime": 1481268558,
                                      "consultationType": "est harum expedita",
                                      "doctorId": 2376,
                                      "patientId": 36973,
                                      "roomId": 142,
                                      "status": 1,
                                      "created_at": 1481265965,
                                      "updated_at": 1481265965,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472,
                                      "storeLocationId": 424
                                    },
                                    {
                                      "appointmentId": 36535,
                                      "serviceId": 125,
                                      "appointmentDate": "13-Dec-16",
                                      "appointmentStartTime": 1481265978,
                                      "appointmentEndTime": 1481268895,
                                      "consultationType": "sunt esse officia",
                                      "doctorId": 2088,
                                      "patientId": 36973,
                                      "roomId": 140,
                                      "status": 1,
                                      "created_at": 1481265978,
                                      "updated_at": 1481265978,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472,
                                      "storeLocationId": 424
                                    }
                                  ],
                                  "information": {
                                    "firstName": "Isha",
                                    "lastName": "Ram",
                                    "email": "rahim.bedi@kashyap.in",
                                    "phoneNumber": "1891308313805",
                                    "address1": "83, Prerna Apartments, AbhishekGarh Surat - 279342",
                                    "address2": null,
                                    "cityId": null,
                                    "stateId": null,
                                    "countryCode": null,
                                    "pincode": null
                                  }
                                },
                                {
                                  "patientId": 36975,
                                  "patientColor": "#ba4195",
                                  "patientLabel": "LS",
                                  "customerId": 38772,
                                  "patientBloodType": "A+",
                                  "patientBirthday": "1949-03-19",
                                  "patientGender": 1,
                                  "status": 1,
                                  "created_at": 1481265551,
                                  "updated_at": 1481265551,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "conditions": [
                                    {
                                      "patientConditionId": 195236,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481223281,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "13/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195237,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481170216,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "12/8",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195238,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481232768,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "16/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195239,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481240685,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "15/10",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195240,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481174148,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "110",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195241,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481246553,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "88",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195242,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481178377,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "67",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195243,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481230830,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "120",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195244,
                                      "patientId": 36975,
                                      "patientConditionsDiagnosedDate": 1481177012,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "100",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    }
                                  ],
                                  "appointments": [
                                    {
                                      "appointmentId": 34185,
                                      "serviceId": 141,
                                      "appointmentDate": "21-Nov-17",
                                      "appointmentStartTime": 1481265861,
                                      "appointmentEndTime": 1481268543,
                                      "consultationType": "omnis aut optio",
                                      "doctorId": 2008,
                                      "patientId": 36975,
                                      "roomId": 134,
                                      "status": 1,
                                      "created_at": 1481265861,
                                      "updated_at": 1481265861,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472,
                                      "storeLocationId": 424
                                    }
                                  ],
                                  "information": {
                                    "firstName": "Labeen",
                                    "lastName": "Shankar",
                                    "email": "bansal.kirti@bhatia.in",
                                    "phoneNumber": "5403636664458",
                                    "address1": "35, Aundh, Surat - 448523",
                                    "address2": null,
                                    "cityId": null,
                                    "stateId": null,
                                    "countryCode": null,
                                    "pincode": null
                                  }
                                },
                                {
                                  "patientId": 36977,
                                  "patientColor": "#c8d671",
                                  "patientLabel": "DD",
                                  "customerId": 38774,
                                  "patientBloodType": "A-",
                                  "patientBirthday": "1987-07-30",
                                  "patientGender": 1,
                                  "status": 1,
                                  "created_at": 1481265551,
                                  "updated_at": 1481265551,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472,
                                  "storeLocationId": 424,
                                  "conditions": [
                                    {
                                      "patientConditionId": 195254,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481203907,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "13/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195255,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481171297,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "12/8",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195256,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481233951,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "16/9",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195257,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481248693,
                                      "conditionTitle": "Blood Pressure",
                                      "conditionValue": "15/10",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195258,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481221495,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "110",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195259,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481247973,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "88",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195260,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481214760,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "67",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195261,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481247599,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "120",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    },
                                    {
                                      "patientConditionId": 195262,
                                      "patientId": 36977,
                                      "patientConditionsDiagnosedDate": 1481217906,
                                      "conditionTitle": "Heart Rate",
                                      "conditionValue": "100",
                                      "status": 1,
                                      "created_at": 1481265551,
                                      "updated_at": 1481265551,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472
                                    }
                                  ],
                                  "appointments": [
                                    {
                                      "appointmentId": 34279,
                                      "serviceId": 139,
                                      "appointmentDate": "16-Jan-17",
                                      "appointmentStartTime": 1481265865,
                                      "appointmentEndTime": 1481268980,
                                      "consultationType": "fugit necessitatibus nam",
                                      "doctorId": 1856,
                                      "patientId": 36977,
                                      "roomId": 152,
                                      "status": 1,
                                      "created_at": 1481265865,
                                      "updated_at": 1481265865,
                                      "createdUserId": 459,
                                      "updatedUserId": 459,
                                      "merchantId": 472,
                                      "storeLocationId": 424
                                    }
                                  ],
                                  "information": {
                                    "firstName": "Deepesh",
                                    "lastName": "Deshpande",
                                    "email": "yadu.kapadia@gmail.com",
                                    "phoneNumber": "2303409548663",
                                    "address1": "95, Srinivasan Villas, Goregaon Gurgaon - 321082",
                                    "address2": null,
                                    "cityId": null,
                                    "stateId": null,
                                    "countryCode": null,
                                    "pincode": null
                                  }
                                }
                              ],
                              "total": "1804"
                            }
                          }
              post:
                description: To create a new patient.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>customerId</i></b> - customer id for current patient.</p>
                        <p><b><i>patientBloodType</i></b> - patientBloodType blood type for current patient.</p>
                        <p><b><i>patientGender</i></b> - Gender for current patient 0 for women and 1 for men.</p>
                        <p><b><i>patientBirthday</i></b> - birthday date for current patient.</p>
                body:
                  application/json:
                    example: |
                      {
                        "customerId": 13,
                        "patientBloodType": "AB+",
                        "patientGender": 1,
                        "patientBirthday": "Dec 7th 1989"
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "customerId": 13,
                              "patientBloodType": "AB+",
                              "patientGender": 1,
                              "patientBirthday": "Dec 7th 1989",
                              "updatedUserId": 459,
                              "createdUserId": 459,
                              "created_at": 1479482582,
                              "updated_at": 1479482582,
                              "patientId": 1
                            }
                          }
              put:
                description: To edit a patient.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientId</i></b> - customer id for current patient.</p>
                        <p><b><i>patientBloodType</i></b> - patientBloodType blood type for current patient.</p>
                        <p><b><i>patientGender</i></b> - Gender for current patient 0 for women and 1 for men.</p>
                        <p><b><i>patientBirthday</i></b> - birthday date for current patient.</p>
                body:
                  application/json:
                    example: |
                      {
                        "patientId": 1,
                        "patientBloodType": "B+",
                        "patientGender": 0,
                        "patientBirthday": "Dec 7th 1988"
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "patientId": 1,
                              "customerId": 13,
                              "patientBloodType": "B+",
                              "patientBirthday": "Dec 7th 1988",
                              "patientGender": 0,
                              "status": 1,
                              "created_at": 1479482582,
                              "updated_at": 1479483079,
                              "createdUserId": 459,
                              "updatedUserId": 459,
                              "merchantId": 472
                            }
                          }
              delete:
                description: To delete a patient.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientId</i></b> - patientId is unique identifier for each patient.</p>
                body:
                  application/json:
                    example: |
                      {
                        "patientId": 2
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": []
                          }
/care/patient/message:
              description: Patients message endpoit provide you whole the functionality you need to work with patient message apis.
              post:
                description: To send a message to a patient.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientId</i></b> - patient id you want to send this message to.</p>
                        <p><b><i>patients</i></b> - array of patient id you want to send this message to all of them.</p>
                        <p><b><i>type</i></b> - 'sms' or 'email'.</p>
                        <p><b><i>message</i></b> - body of message.</p>
                body:
                  application/json:
                    example: |
                      {
                        "patientId": 1,
                        "type": "sms",
                        "message": "Hello, Tomorrow is your resevation date for initial consultation please come to hospital between 13:00 to 13:30"
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": []
                          }
/care/patient/condition:
              description: Patients endpoit provide you create/edit/delete the functionality you need to work with patient conditions apis.
              post:
                description: To create a new patient condition.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientId</i></b> - roomName is a title for each room like Emeregency.</p>
                        <p><b><i>patientConditionsDiagnosedDate</i></b> - diagnosed date timestamp value. <u>Optional</u></p>
                        <p><b><i>conditionTitle</i></b> - title. <u>Optional</u></p>
                        <p><b><i>conditionValue</i></b> - value. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "patientId": 1,
                        "patientConditionsDiagnosedDate": 1479463948,
                        "conditionTitle": "Blood Pressure",
                        "conditionValue": "13/9",
                      } |
                        [
                          {
                            "patientId": 1,
                            "patientConditionsDiagnosedDate": 1479463948,
                            "conditionTitle": "Blood Pressure",
                            "conditionValue": "13/9",
                          },
                          {
                            "patientId": 1,
                            "patientConditionsDiagnosedDate": 1479463948,
                            "conditionTitle": "Blood Pressure",
                            "conditionValue": "13/9",
                          },
                          {
                            "patientId": 1,
                            "patientConditionsDiagnosedDate": 1479463948,
                            "conditionTitle": "Blood Pressure",
                            "conditionValue": "13/9",
                          },
                          {
                            "patientId": 1,
                            "patientConditionsDiagnosedDate": 1479463948,
                            "conditionTitle": "Blood Pressure",
                            "conditionValue": "13/9",
                          }
                        ]
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "patientId": 1,
                              "patientConditionsDiagnosedDate": 1479463948,
                              "conditionTitle": "Blood Pressure",
                              "conditionValue": "13/9",
                              "merchantId": 472,
                              "updatedUserId": 459,
                              "createdUserId": 459,
                              "created_at": 1479533280,
                              "updated_at": 1479533280,
                              "patientConditionId": 3
                            }
                          }
              put:
                description: To edit a patient condition.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientConditionId</i></b> - roomName is a title for each room like Emeregency.</p> <u>Optional</u></p>
                        <p><b><i>patientConditionsDiagnosedDate</i></b> - diagnosed date. <u>Optional</u></p>
                        <p><b><i>conditionTitle</i></b> - title. <u>Optional</u></p>
                        <p><b><i>conditionValue</i></b> - value. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "patientConditionId": 1,
                        "patientConditionsDiagnosedDate": 1479463948,
                        "conditionTitle": "Blood Pressure",
                        "conditionValue": "12/8",
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "patientId": 1,
                              "patientConditionsDiagnosedDate": 1479463948,
                              "conditionTitle": "Blood Pressure",
                              "conditionValue": "12/8",
                              "merchantId": 472,
                              "updatedUserId": 459,
                              "createdUserId": 459,
                              "created_at": 1479533280,
                              "updated_at": 1479533280,
                              "patientConditionId": 1
                            }
                          }
              delete:
                description: To delete a patient condition.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: true
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>patientConditionId</i></b> - patientConditionId is unique identifier for each patient condition.</p>
                body:
                  application/json:
                    example: |
                      {
                        "patientConditionId": 3
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": []
                          }
/care/doctor:
              description: Doctor endpoit provide you whole the functionality you need to work with doctor apis.
              get:
                description: To fetch a list of doctors. you can set <b>limit</b> and <b>offset</b> default values are 100 and 0 accordingly. therefore if you send your request with none of the above parameters a list of first 100 avalible rooms will returned.
                securedBy: [customSecurityScheme]
                queryParameters:
                  param1:
                      required: true
                      type: string
                      displayName: Token
                      description: This <i>Token</i> is generated by login call and is working for one houre.
                  param2:
                      required: true
                      type: string
                      displayName: clientId
                      description: This <i>ID</i> is generated for each client.
                  param3:
                      required: false
                      type: string
                      displayName: requestParams
                      description: Below keys are accepted [Json String]
                        <p><b><i>IMEI</i></b> - generated imei value of the client. <u>Optional</u></p>
                        <p><b><i>doctorId</i></b> - doctorId fetch specific doctor information. <u>Optional</u></p>
                        <p><b><i>doctorsId</i></b> - to fetch a list of specific doctor information. <u>Optional</u></p>
                        <p><b><i>doctorName</i></b> - Name of doctor. <u>Optional</u></p>
                        <p><b><i>doctorJob</i></b> - Job of doctor, Physician or Reception. <u>Optional</u></p>
                        <p><b><i>doctorTitle</i></b> - Title of doctor. "Dr. " <u>Optional</u></p>
                        <p><b><i>day</i></b> - avaiable in specific day of week. <u>Optional</u></p>
                        <p><b><i>status</i></b> - 1 for active 2 for inactive. <u>Optional</u></p>
                        <p><b><i>start</i></b> - avaiable in specific time in a specific day of week. <u>Optional</u></p>
                        <p><b><i>end</i></b> - avaiable in specific time in a specific day of week. <u>Optional</u></p>
                        <p><b><i>updated_at</i></b> - last modified date is the last time client fetch a room update. <u>Optional</u></p>
                        <p><b><i>limit</i></b> - Integer number of orders in result list. <u>Optional</u></p>
                        <p><b><i>offset</i></b> - Integer offset of orders in result list. <u>Optional</u></p>
                body:
                  application/json:
                    example: |
                      {
                        "updated_at": 1468062355,
                        "day":"Monday"
                      }
                responses:
                  200:
                    body:
                      application/json:
                        example: |
                          {
                            "success": 1,
                            "response": {
                              "Doctors": [
                                {
                                  "doctorId": 1,
                                  "doctorName": "",
                                  "doctorJob": "Orthopedist",
                                  "doctorTitle": "Dr.",
                                  "doctorColor": "#ffffff",
                                  "status": 1, // Active
                                  "created_at": 1479712067,
                                  "updated_at": 1479712699,
                                  "createdUserId": 459,
                                  "updatedUserId": 459,
                                  "merchantId": 472,
                                  "workingHours": [
                                    {
                                      "doctorWorkingHourId": 18,
                                      "doctorId": 1,
                                      "weekDay": "Monday",
                                      "startTime": "09:00:00",
                                      "endTime": "12:00:00",
                                      "status": 1,
                                      "merchantId": 472,
                                      "created_at": 1479974276,
                                      "updated_at": 1479974276,
                                      "createdUserId": 459,
                                      "updatedUserId": 459
                                    },
                                    {
                                      "doctorWorkingHourId": 19,
                                      "doctorId": 1,
                                      "weekDay": "Friday",
                                      "startTime": "09:00:00",
                                      "endTime": "12:00:00",
                                      "status": 1,
                                      "merchantId": 472,
                                      "created_at": 1479974276,
                                      "updated_at": 1479975217,
                                      "createdUserId": 459,
                                      "updatedUserId": 459
                                    },
                                    {
                                      "doctorWorkingHourId": 20,
                                      "doctorId": 1,
                                      "weekDay": "Tuesday",
                                      "startTime": "09:00:00",
                                      "endTime": "12:00:00",
                                      "status": 1,
                                      "merchantId": 472,
                                      "created_at": 1479974276,
                                      "updated_at": 1479974276,
                                      "createdUserId": 459,
                                      "updatedUserId": 459
                                    },
                                    {
                                      "doctorWorkingHourId": 21,
                                      "doctorId": 1,
                                      "weekDay": "Friday",
                                      "startTime": "09:00:00",
                                      "endTime": "12:00:00",
                                      "status": 1,
                                      "merchantId": 472,
                                      "created_at": 1479974276,
                                      "updated_at": 1479974276,
                                      "createdUserId": 459,
                                      "updatedUserId": 459
                                    }
                                  ]
                                },
                                {
                                  "doctorId": 2,
                                  "doctorName": "",
                                  "doctorJob": "Surgery",
[...]
